@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  @include transparent-button;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-burger,
.btn-hamburger {
  @include square(24);
  @include flex-center;
  overflow: hidden;
}

.btn-show {
  @include square(36);
  @include flex-center;
  overflow: hidden;

  img {
    @include wh100;
  }
}

.btn-login {
  background: $primary;
  @include flex-center;
  gap: size(4);
  @include radius(6);
  padding: size(4) size(8);
  height: size(36);
  max-width: size(120);
  @include transitionsbackground;

  .icon {
    @include square(17);
    @include circle;
    @include flex-center;
    overflow: hidden;
  }

  .linktext {
    color: $white;
    font-size: size(14);
    font-weight: 600;
  }

  @include hover {
    background: darken($primary, 10%);
  }
}

.btn-subscribe {
  background: $primary;
  @include border(solid, 2, $primary);
  @include flex-center;
  @include radius(6);
  gap: size(4);
  @include transitionsbackground;
  height: size(32);
  padding-inline: size(12);

  @include breakpoint(mobile768) {
    padding-inline: size(16);
  }

  @include breakpoint(tab992) {
    height: size(40);
    padding-inline: size(24);
  }

  .icon {
    @include square(15);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: $white;
    font-size: size(11);
    font-weight: 600;

    @include breakpoint(mobile768) {
      font-size: size(14);
    }

    @include breakpoint(tab992) {
      font-size: inherit;
    }
  }

  @include hover {
    background: darken($primary, 10%);
  }
}

.btn-learnmore {
  @include setBgColor($primary, $white);
  font-size: size(14);
  font-weight: 600;
  @include flex-center;
  @include radius(48);
  padding: size(7.75) size(16);
  text-align: center;
  @include transitionsbackground;

  @include hover {
    background: darken($primary, 10%);
  }
}

.btn-subscribed {
  @include setBgColor($white, $textprimary);
  @include border(solid, 2, $menudivider);
  @include radius(6);
  @include flex-center;
  gap: size(4);
  height: size(32);
  padding-inline: size(12);

  @include breakpoint(mobile768) {
    padding-inline: size(16);
  }

  @include breakpoint(tab992) {
    height: size(40);
    padding-inline: size(24);
  }

  .icon {
    @include square(15);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: inherit;
    font-size: size(11);
    font-weight: 600;

    @include breakpoint(mobile768) {
      font-size: size(14);
    }

    @include breakpoint(tab992) {
      font-size: inherit;
    }
  }

  @include hover {
    @include setBgColor($primary, $white);
    border-color: $primary;

    .icon {
      svg {
        path {
          stroke: $white;
        }
      }
    }
  }
}

.btn-subscribe {
  @include setBgColor($primary, $white);
  @include border(solid, 2, $primary);
  @include radius(6);
  font-weight: 600;
  @include flex-center;
  gap: size(4);
  height: size(32);
  padding-inline: size(12);

  @include breakpoint(mobile768) {
    padding-inline: size(16);
  }

  @include breakpoint(tab992) {
    height: size(40);
  }

  @include breakpoint(desktop1400) {
    padding-inline: size(24);
  }

  .icon {
    @include square(15);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: inherit;
    font-size: size(11);
    font-weight: 600;

    @include breakpoint(mobile768) {
      font-size: size(14);
    }

    @include breakpoint(tab992) {
      font-size: inherit;
    }
  }

  @include hover {
    @include setBgColor($white, $primary);

    .icon {
      svg {
        path {
          stroke: $primary;
        }
      }
    }
  }
}

.btn-searchtag {
  @include setBgColor($white, $dropdowntext);
  @include border(solid, 1, $menudivider);
  @include radius(33);
  display: inline-block;
  font-size: size(14);
  font-weight: 500;
  padding: size(5) size(15);
  text-align: center;

  &:hover:not(.active) {
    @include setBgColor($primary, $white);
    border-color: $primary;
  }

  &.active {
    @include setBgColor($primary, $white);
    border-color: $primary;
  }
}

.btn-social {
  @include flex-center;
  gap: size(10);
  background: $white;
  @include border(solid, 1, $searchborder);
  @include radius(6);
  padding: size(10.5) size(16);

  .icon {
    @include square(19);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: $textprimary;
    font-size: size(14);
    font-weight: 500;
  }

  @include hover {
    background: $searchborder;
  }
}

.btn-skip {
  color: $textprimary;
  font-size: size(16);
  font-style: normal;
  font-weight: 400;

  @include hover {
    color: $primary;
  }
}

.btn-resend {
  color: $textprimary;
  font-size: size(14);
  font-style: normal;
  font-weight: 500;

  @include hover {
    color: $primary;
  }
}

.btn-sumbit {
  @include setBgColor($primary, $white);
  @include radius(8);
  @include flex-center;
  text-align: center;
  font-size: size(14);
  font-weight: 600;
  padding: size(13.5) size(14);
  @include w100;
  @include transitionsall;

  @include hover {
    @include setBgColor($primarydark, $white);
  }
}

.btn-reaction {
  @include flex-center-column;
  gap: size(4);
  @include border(solid, 1, $searchborder);
  @include radius(10);
  padding: size(6) size(12);

  .icon {
    @include square(24);
    @include flex-center;
  }

  .text {
    color: $textprimary;
    font-size: size(9);
    font-weight: 500;
    text-transform: uppercase;

    @include breakpoint(mobile576) {
      font-size: size(10);
    }

    @include breakpoint(mobile768) {
      font-size: size(12);
    }
  }

  @include hover {
    border-color: $primary;

    .icon {
      svg {
        path {
          fill: $primary;
        }
      }
    }
    .text {
      color: $primary;
    }
  }
}

.btn-subscriber {
  background: $primary;
  @include flex-center;
  gap: size(8);
  padding: size(8) size(12);

  .icon {
    @include square(16);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: $white;
    font-size: size(12);
    font-weight: 500;
  }

  @include hover {
    background: $primarydark;
  }
}

.btn-arrow {
  @include square(24);
  @include flex-center;
  overflow: hidden;
  padding: size(4);
}

.btn-notify {
  @include setBgColor($primary, $white);
  @include w100;
  padding: size(12);
  @include radius(8);
  font-size: size(16);
  font-weight: 500;
  letter-spacing: size(-0.32);
  @include transitionsall;

  @include hover {
    @include setBgColor($primarydark, $white);
  }
}

.btn-reminder {
  @include setBgColor($white, $primary);
  @include border(solid, 1, $primary);
  @include w100;
  padding: size(11.4);
  @include radius(8);
  font-size: size(16);
  font-weight: 500;
  letter-spacing: size(-0.32);
  @include transitionsall;

  @include hover {
    @include setBgColor($primary, $white);
  }
}

.btn-action {
  @include border(solid, 1, $searchborder);
  @include radius(10);
  @include flex-center;
  gap: size(8);
  padding: size(6) size(12);

  .icon {
    @include square(16);
    @include flex-center;
    overflow: hidden;

    @include breakpoint(desktop1367) {
      @include square(18);
    }

    @include breakpoint(desktop1400) {
      @include square(20);
    }
  }

  .text {
    color: $textprimary;
    font-size: size(10);
    font-weight: 500;
    text-transform: uppercase;

    @include breakpoint(desktop1367) {
      font-size: size(11);
    }

    @include breakpoint(desktop1920) {
      font-size: size(12);
    }
  }

  &:hover:not(.morebtn) {
    background: $primary;
    border-color: $primary;

    .icon {
      svg {
        path {
          fill: $white;
        }
      }
    }

    .text {
      color: $white;
    }
  }

  &.morebtn {
    @include hover {
      background: $primary;
      border-color: $primary;

      .icon {
        svg {
          path {
            stroke: $white;
          }
        }
      }

      .text {
        color: $white;
      }
    }
  }
}

.btn-subscrib {
  background: $primary;
  @include flex-center;
  gap: size(8);
  padding: size(8) size(14);
  width: size(110);
  height: size(36);

  .icon {
    @include square(16);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: $white;
    font-size: size(12);
    font-weight: 500;
    letter-spacing: size(-0.2);
    width: calc(100% - size(24));
  }

  @include hover {
    background: $primarydark;
  }
}

.btn-subscribd {
  background: $white;
  @include border(solid, 1, $timetext);
  @include flex-center;
  gap: size(8);
  padding: size(8) size(14);
  width: size(110);
  height: size(36);

  .icon {
    @include square(16);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: $timetext;
    font-size: size(12);
    font-weight: 500;
    letter-spacing: size(-0.2);
    width: calc(100% - size(24));
  }

  @include hover {
    background: $primary;
    border-color: $primary;

    svg {
      path {
        fill: $white;
      }
    }

    .text {
      color: $white;
    }
  }
}

.btn-mysubscribed {
  @include setBgColor($white, $timetext);
  @include border(solid, 1, $timetext);
  font-size: size(12);
  font-weight: 500;
  @include flex-center;
  letter-spacing: size(-0.24);
  padding: size(6) size(12);
  text-align: center;

  @include hover {
    @include setBgColor($primary, $white);
    border-color: $primary;
  }
}

.btn-refresh {
  @include square(32);
  padding: size(4);
  @include flex-center;

  @include hover {
    svg {
      path {
        stroke: $primary;
      }
    }
  }
}

.btn-react {
  @include flex-center-vert;
  gap: size(5);

  .icon {
    @include square(12);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: $textprimary;
    font-size: size(10);
    font-weight: 400;
  }
}

.btn-replies {
  color: $primary;
  font-size: size(10);
  font-weight: 400;
  letter-spacing: size(-0.2);
  
  @include hover {
    color: $primarydark;
  }
}