@use '../../global' as *;
@use '../../partials' as *;

button,
[type='button'],
[type='reset'],
[type='submit'] {
  @include transparent-button;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include transitionsall;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-burger,
.btn-hamburger {
  @include square(24);
  @include flex-center;
  overflow: hidden;
}

.btn-show {
  @include square(36);
  @include flex-center;
  overflow: hidden;

  img {
    @include wh100;
  }
}

.btn-login {
  background: $primary;
  @include flex-center;
  gap: size(4);
  @include radius(6);
  padding: size(4) size(8);
  height: size(36);
  max-width: size(120);
  @include transitionsbackground;

  .icon {
    @include square(17);
    @include circle;
    @include flex-center;
    overflow: hidden;
  }

  .linktext {
    color: $white;
    font-size: size(14);
    font-weight: 600;
  }

  @include hover {
    background: darken($primary, 10%);
  }
}

.btn-subscribe {
  background: $primary;
  @include flex-center;
  @include radius(6);
  gap: size(4);
  padding: size(7.5) size(16);
  @include transitionsbackground;

  .icon {
    @include square(15);
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: $white;
    font-size: size(14);
    font-weight: 600;
  }

  @include hover {
    background: darken($primary, 10%);
  }
}

.btn-learnmore {
  @include setBgColor($primary, $white);
  font-size: size(14);
  font-weight: 600;
  @include flex-center;
  @include radius(48);
  padding: size(7.75) size(16);
  text-align: center;
  @include transitionsbackground;

  @include hover {
    background: darken($primary, 10%);
  }
}