@use "../../global" as *;
@use "../../partials" as *;

.sidebar {
  background: $white;
  box-shadow: $sidebarshadow;
  width: size(244);
  position: fixed;
  min-height: 100vh;
  padding: size(18) size(14);
  z-index: 100;

  &-nav {
    @include flex-column;
    gap: size(24);
  }

  .nav-header {
    @include flex-center-vert;
    gap: size(12);
    position: relative;

    .btn-show {
      position: absolute;
      top: 50%;
      right: size(-24);
      @include translateY(-50%);
    }
  }

  .nav-body {
    @include flex-column;
    gap: size(12);
    max-height: calc(100vh - size(97));
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      background: transparent;
      width: size(0);
    }

    &::-webkit-scrollbar-thumb {
      @include radius(8);
    }
  }

  &.sidecollapsed {
    width: size(72);
  }
}

.loginfo {
  @include flex-column;
  gap: size(12);

  .logtitle {
    color: $textprimary;
    font-weight: 500;
  }
}