@use "../../global" as *;
@use "../../partials" as *;

.sidebar {
  background: $white;
  box-shadow: $sidebarshadow;
  width: size(244);
  position: fixed;
  min-height: 100vh;
  padding: size(18) size(14) size(0);
  z-index: 100;

  &-nav {
    @include flex-column;
    gap: size(24);
  }

  .nav-header {
    @include flex-center-vert;
    gap: size(12);
  }

  .nav-body {
    @include flex-column;
    gap: size(12);
    max-height: calc(100vh - size(97));
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      background: transparent;
      width: size(0);
    }

    &::-webkit-scrollbar-thumb {
      @include radius(8);
    }
  }

  &.sidecollapsed {
    width: size(72);

    .logobox {
      position: relative;
      @include w100;

      .logo {
        @include flex-center;
      }

      .btn-show {
        margin-inline: auto;
      }
    }
  }
}

.publisher {
  background: $publisherbg;
  @include border(solid, 1, $menudivider);
  @include radius(40);
  overflow: hidden;
  position: relative;
  min-height: size(170);
  @include flex-center;
  margin: size(96) size(0) size(20);

  .publisherinfo {
    @include flex-center-column;
    gap: size(14);
    text-align: center;
    position: relative;
    z-index: 100;
  }

  .publishertitle {
    font-size: size(18);
    font-weight: 600;
  }
  
  .publishericon {
    position: absolute;
    bottom: 0;
  }
}

.loginfo {
  @include flex-column;
  gap: size(12);

  .logtitle {
    color: $textprimary;
    font-weight: 500;
  }
}