@use "../../global" as *;
@use "../../partials" as *;

.cardvideo {
  @include flex-column;
  gap: size(14);
  @include h100;

  &-header {
    .video-thumbnail {
      @include radius(10);
      @include flex-center;
      @include w100;
      overflow: hidden;

      img {
        @include wh100;
        @include transitiontransform;

        @include breakpoint(desktop1367) {
          object-fit: fill;
        }

        @include hover {
          @include scale(1.05);
        }
      }
    }
  }

  &-body {
    @include flex;
    gap: size(8);

    .channelthumb {
      @include square(40);
      @include circle;
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
      }
    }

    .details {
      @include flex-column;
      gap: size(12);
      width: calc(100% - size(72));

      .videotitle {
        cursor: pointer;
        font-size: size(16);
        font-weight: 500;
        min-height: size(38.4);
        max-height: size(39);
        @include line-clamp;
        @include transitionscolor;

        @include hover {
          color: $primary;
        }
      }

      .detail {
        .channelname {
          @include text-overflow;

          @include hover {
            color: $primary;
          }
        }

        .channelname,
        .videotext {
          color: $textprimary;
          font-size: size(14);
          font-weight: 500;
        }
      }
    }

    .videodropdown {
      position: relative;
      @include square(32);
      cursor: pointer;

      .dropdownicon {
        background: $white;
        @include square(32);
        @include circle;
        @include flex-center;
        padding: size(4);
        @include transitionsbackground;
      }

      &-info {
        position: absolute;
        top: 100%;
        right: size(0);
        padding-top: size(8);
        display: none;
        @extend %animation;
        @extend %slideUpIn;

        .dropdownlist {
          background: $white;
          @include border(solid, 1, $menudivider);
          @include radius(10);
          box-shadow: $dropdownshadow;
          @include list-vertical;
          width: size(180);
          min-height: size(110);
          overflow: hidden;

          &-link {
            background: $white;
            @include flex-center-vert;
            gap: size(10);
            padding: size(8) size(16);
            @include transitionsbackground;

            .droplinkicon {
              @include square(16);
              @include flex-center;
              overflow: hidden;
            }

            .droplinktext {
              color: $dropdowntext;
              font-size: size(15);
            }

            @include hover {
              background: $linkhoverbg;
            }
          }
        }
      }

      @include hover {
        .dropdownicon {
          background: $linkhoverbg;
        }

        .videodropdown-info {
          display: block;
        }
      }
    }
  }
}

.cardchannel {
  @include flex-column;
  gap: size(16);

  &-header {
    .channelthumb {
      @include square(72);
      @include circle;
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(14);

    .channelinfo {
      .title {
        font-size: size(18);
        font-weight: 600;
        min-height: size(36);
        max-height: size(40);
        @include line-clamp;
      }

      .text,
      .channelname {
        font-size: size(14);
        font-weight: 500;
      }

      .channelname {
        @include text-overflow;
      }
    }

    .subscribebox {
      max-width: size(112);
    }
  }
}

.cardfavorite {
  background: $white;
  @include flex-column;
  @include radius(10);
  overflow: hidden;
  @include transitionsbackground;

  @include breakpoint(mobile576) {
    flex-direction: row;
    align-items: flex-start;
  }

  .favoritethumb {
    @include w100;
    height: size(168);
    @include radius(10);
    @include flex-center;
    overflow: hidden;

    @include breakpoint(mobile576) {
      width: size(190);
      height: size(120);
    }

    img {
      @include wh100;
      object-fit: fill;
    }
  }

  &-details {
    @include flex-center-between;
    align-items: flex-start;
    gap: size(8);
    padding: size(14);

    @include breakpoint(mobile576) {
      align-items: center;
      width: calc(100% - size(190));
    }

    .describe {
      width: calc(100% - size(40));
      @include flex-column;
      gap: size(12);

      .videotitle {
        cursor: pointer;
        font-size: size(16);
        font-weight: 500;
        @include line-clamp;
        @include transitionscolor;

        @include hover {
          color: $primary;
        }
      }

      .detail {
        .channelname {
          @include text-overflow;
        }

        .channelname,
        .videotext {
          font-size: size(14);
          font-weight: 500;
        }
      }
    }

    .favdropdown {
      position: relative;
      @include square(32);
      cursor: pointer;

      .dropdownicon {
        background: $white;
        @include square(32);
        @include circle;
        @include flex-center;
        padding: size(4);
        @include transitionsbackground;
      }

      &-info {
        position: absolute;
        top: 100%;
        right: size(0);
        padding-top: size(4);
        display: none;
        @extend %animation;
        @extend %slideUpIn;

        .dropdownlist {
          background: $white;
          @include border(solid, 1, $menudivider);
          @include radius(10);
          box-shadow: $dropdownshadow;
          @include list-vertical;
          width: size(210);
          overflow: hidden;

          &-link {
            background: $white;
            @include flex-center-vert;
            gap: size(10);
            padding: size(8) size(16);
            @include transitionsbackground;

            .droplinkicon {
              @include square(16);
              @include flex-center;
              overflow: hidden;
            }

            .droplinktext {
              color: $dropdowntext;
              font-size: size(15);
            }

            @include hover {
              background: $linkhoverbg;
            }
          }
        }
      }

      @include hover {
        .dropdownicon {
          background: $linkhoverbg;
        }

        .favdropdown-info {
          display: block;
        }
      }
    }
  }

  @include hover {
    background: $favhoverbg;
  }
}

.cardvid {
  background: $white;
  @include flex-column;
  @include radius(10);
  position: relative;
  @include transitionsbackground;

  @include breakpoint(mobile576) {
    flex-direction: row;
    align-items: flex-start;
  }

  .videothumb {
    @include w100;
    height: size(168);
    @include radius(10);
    @include flex-center;
    overflow: hidden;

    @include breakpoint(mobile576) {
      width: size(180);
      height: size(120);
    }

    @include breakpoint(desktop1400) {
      width: size(172);
      height: size(96);
    }

    img {
      @include wh100;
      object-fit: fill;
    }
  }

  &-details {
    @include flex-center-between;
    align-items: flex-start;
    gap: size(8);
    padding: size(4) size(8);

    @include breakpoint(mobile576) {
      align-items: center;
      width: calc(100% - size(180));
    }

    @include breakpoint(desktop1400) {
      width: calc(100% - size(172));
    }

    .describe {
      width: calc(100% - size(48));
      @include flex-column;
      gap: size(12);

      .videotitle {
        cursor: pointer;
        font-size: size(16);
        font-weight: 500;
        @include line-clamp;
        @include transitionscolor;

        @include hover {
          color: $primary;
        }
      }

      .detail {
        .channelname {
          @include text-overflow;
        }

        .channelname,
        .videotext {
          font-size: size(14);
          font-weight: 500;
        }
      }
    }

    .vidropdown {
      cursor: pointer;
      width: size(48);
      @include h100;
      // min-height: size(120);
      @include flex-center;
      position: absolute;
      top: 0;
      right: size(4);

      .dropdownicon {
        background: $white;
        @include square(32);
        @include circle;
        @include flex-center;
        padding: size(4);
        @include transitionsbackground;
      }

      @include hover {
        .cardvid-info {
          display: block;
        }

        .dropdownicon {
          background: $linkhoverbg;
        }
      }
    }
  }

  &-info {
    position: absolute;
    top: 80%;
    right: size(0);
    display: none;
    @extend %animation;
    @extend %slideUpIn;
    z-index: 200;

    .dropdownlist {
      background: $white;
      @include border(solid, 1, $menudivider);
      @include radius(10);
      box-shadow: $dropdownshadow;
      @include list-vertical;
      width: size(210);
      overflow: hidden;

      &-link {
        background: $white;
        @include flex-center-vert;
        gap: size(10);
        padding: size(8) size(16);
        @include transitionsbackground;

        .droplinkicon {
          @include square(16);
          @include flex-center;
          overflow: hidden;
        }

        .droplinktext {
          color: $dropdowntext;
          font-size: size(15);
        }

        @include hover {
          background: $linkhoverbg;
        }
      }
    }
  }

  @include hover {
    background: $favhoverbg;
  }
}

.cardsubscribed {
  @include flex-column;
  gap: size(24);

  @include breakpoint(mobile768) {
    flex-direction: row;
  }

  &-thumbnail {
    @include square(106);
    @include circle;
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
    }
  }

  &-body {
    @include flex-column;
    gap: size(24);

    @include breakpoint(mobile768) {
      width: calc(100% - size(130));
    }

    .detail {
      @include flex-column;
      gap: size(12);

      .title {
        color: $headingtext;
        font-size: size(16);
        font-weight: 600;
      }

      .info {
        .text {
          color: $textprimary;
          font-size: size(16);

          strong {
            color: $dropdowntext;
            font-size: inherit;
            font-weight: 500;
          }
        }
      }
    }

    .cardicon {
      @include square(20);
      @include flex-center;
      overflow: hidden;
    }
  }
}

.cardslider {
  &-thumbnail {
    @include flex-center;
    overflow: hidden;

    img {
      @include w100;
    }
  }
}
