@use "../../global" as *;
@use "../../partials" as *;

.cardvideo {
  @include flex-column;
  gap: size(14);

  &-header {
    .video-thumbnail {
      @include flex-center;
      @include w100;
      height: size(175.5);
      overflow: hidden;
      position: relative;

      @include breakpoint(mobile576) {
        @include radius(10);
      }

      @include breakpoint(tab992) {
        max-width: size(312);
      }

      img {
        object-fit: fill;
        @include wh100;
        @include transitiontransform;

        @include hover {
          @include scale(1.05);
        }
      }

      .timeduration {
        position: absolute;
        bottom: size(10);
        right: size(14);
        color: $white;
        font-size: size(14);
        font-weight: 500;
        z-index: 100;
      }
    }
  }

  &-body {
    @include flex;
    gap: size(8);
    padding-inline: size(14);

    @include breakpoint(tab992) {
      padding-inline: size(0);
    }

    .channelthumb {
      @include square(40);
      @include circle;
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
      }
    }

    .details {
      @include flex-column;
      gap: size(12);
      width: calc(100% - size(72));
      margin-top: size(-4);

      .videotitle {
        cursor: pointer;
        font-size: size(16);
        font-weight: 500;
        @include line-clamp;
        padding-top: size(4);
        @include transitionscolor;

        @include hover {
          color: $primary;
        }
      }

      .detail {
        .channelname {
          @include text-overflow;

          @include hover {
            color: $primary;
          }
        }

        .channelname,
        .videotext {
          color: $textprimary;
          font-size: size(14);
          font-weight: 500;
        }
      }
    }

    .videodropdown {
      position: relative;
      @include square(32);
      cursor: pointer;

      &-info {
        position: absolute;
        top: 100%;
        right: size(0);
        padding-top: size(8);
        display: none;
        @extend %animation;
        @extend %slideUpIn;
        z-index: 1000;
      }

      @include hover {
        .dropdownicon {
          @include breakpoint(tab992) {
            background: $linkhoverbg;
          }
        }

        .videodropdown-info {
          display: block;
        }
      }
    }

    .dropdownlist {
      background: $white;
      @include border(solid, 1, $menudivider);
      @include radius(10);
      box-shadow: $dropdownshadow;
      @include list-vertical;
      width: size(180);
      min-height: size(110);
      overflow: hidden;

      &-link {
        background: $white;
        @include flex-center-vert;
        gap: size(10);
        padding: size(8) size(16);
        @include transitionsbackground;

        .droplinkicon {
          @include square(16);
          @include flex-center;
          overflow: hidden;
        }

        .droplinktext {
          color: $dropdowntext;
          font-size: size(15);
        }

        @include hover {
          background: $linkhoverbg;
        }
      }
    }

    .dropdownicon {
      background: $white;
      @include square(32);
      @include circle;
      @include flex-center;
      padding: size(4);
      @include transitionsbackground;

      @include hover {
        @include breakpoint(tab992) {
          background: $linkhoverbg;
        }
      }
    }
  }

  .offcanvas {
    min-height: size(280);
    height: size(280);
    max-height: size(280);
    @include double-radius(top, left, 16, top, right, 16);
    overflow: hidden;
    padding-top: size(14);

    &-header {
      @include flex-center;
      overflow: hidden;
      padding: size(14) size(0) size(24);

      .icon {
        width: size(41);
        height: size(4);
        @include flex-center;
        overflow: hidden;
      }
    }
  }
}

.cardchannel {
  @include flex-center-column;
  gap: size(16);
  text-align: center;

  @include breakpoint(tab992) {
    align-items: flex-start;
    text-align: left;
  }

  &-header {
    @include flex-center;

    .channelthumb {
      @include square(40);
      @include circle;
      @include flex-center;
      overflow: hidden;

      @include breakpoint(tab992) {
        @include square(72);
      }

      img {
        @include wh100;
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(14);

    .channelinfo {
      .title {
        font-size: size(13);
        font-weight: 600;
        min-height: size(31);
        max-height: size(31);
        @include line-clamp;

        @include breakpoint(mobile768) {
          font-size: size(16);
          min-height: size(38.4);
          max-height: size(38.4);
        }
      }

      .text,
      .channelname {
        font-size: size(13);
        font-weight: 500;
        display: none;
        @include text-overflow;

        @include breakpoint(tab992) {
          display: -webkit-box;
        }
      }

      .channelname {
        @include hover {
          color: $primary;
        }
      }
    }

    .subscribebox {
      max-width: size(112);
    }
  }
}

.cardfavorite {
  background: $white;
  @include flex-column;
  @include w100;
  overflow: hidden;
  @include transitionsbackground;

  @include breakpoint(mobile576) {
    flex-direction: row;
    align-items: flex-start;
  }

  @include breakpoint(tab992) {
    @include radius(10);
  }

  .favoritethumb {
    @include w100;
    height: size(168);
    @include flex-center;
    overflow: hidden;
    position: relative;

    @include breakpoint(mobile576) {
      width: size(191);
      height: size(107);
      @include radius(10);
    }

    @include breakpoint(tab992) {
    }

    img {
      @include wh100;
      object-fit: cover;

      @include breakpoint(tab992) {
        object-fit: fill;
      }
    }

    .timeduration {
      position: absolute;
      bottom: size(10);
      right: size(14);
      color: $white;
      font-size: size(14);
      font-weight: 500;
      z-index: 100;
    }
  }

  &-details {
    @include flex-center-between;
    align-items: flex-start;
    gap: size(8);
    overflow: hidden;
    padding: size(4) size(14) size(8);

    @include breakpoint(mobile576) {
      align-items: center;
      width: calc(100% - size(191));
    }

    .describe {
      width: calc(100% - size(40));
      @include flex-column;
      gap: size(4);

      .videotitle {
        cursor: pointer;
        font-size: size(16);
        font-weight: 500;
        padding-top: size(4);
        @include line-clamp;
        @include transitionscolor;

        @include hover {
          color: $primary;
        }
      }

      .detail {
        .channelname {
          @include text-overflow;

          @include hover {
            color: $primary;
          }
        }

        .channelname,
        .videotext {
          font-size: size(14);
          font-weight: 500;
        }
      }
    }

    .favdropdown {
      position: relative;
      @include square(32);
      cursor: pointer;

      .dropdownicon {
        background: $white;
        @include square(32);
        @include circle;
        @include flex-center;
        padding: size(4);
        @include transitionsbackground;
      }

      &-info {
        position: absolute;
        top: 100%;
        right: size(0);
        display: none;
        @extend %animation;
        @extend %slideUpIn;
        z-index: 1000;
    
        .dropdownlist {
          box-shadow: none;
          @include list-vertical;
          border: none;
          width: size(224);
          @include radius(0);
    
          &-link {
            background: $white;
            @include radius(10);
            @include flex-center-vert;
            gap: size(10);
            padding: size(10) size(30);
            @include transitionsbackground;
      
            .droplinkicon {
              @include square(16);
              @include flex-center;
              overflow: hidden;
            }
      
            .droplinktext {
              color: $dropdowntext;
              font-size: size(14);
              font-weight: 500;
            }
      
            @include hover {
              background: $linkhoverbg;
            }
          }
        }
      }

      .downloadsinfo {
        .dropdownlist {
          width: size(180);

          &-link {
            .droplinkicon {
              margin-top: size(-3);
            }
          }
        }
      }

      @include hover {
        .dropdownicon {
          @include breakpoint(tab992) {
            background: $linkhoverbg;
          }
        }

        .favdropdown-info {
          display: block;
        }
      }
    }
  }

  @include hover {
    background: $favhoverbg;
  }
}

.cardvid {
  background: $white;
  @include flex-column;
  position: relative;
  @include transitionsbackground;

  @include breakpoint(mobile576) {
    @include radius(10);
    flex-direction: row;
    align-items: flex-start;
  }

  .videothumb {
    @include w100;
    height: size(168);
    @include flex-center;
    overflow: hidden;
    position: relative;

    @include breakpoint(mobile576) {
      width: size(191);
      height: size(107);
      @include radius(10);
    }

    @include breakpoint(tab992) {
      @include radius(10);
    }

    img {
      @include wh100;
      object-fit: fill;
    }

    .timeduration {
      position: absolute;
      bottom: size(10);
      right: size(14);
      color: $white;
      font-size: size(14);
      font-weight: 500;
      z-index: 100;
    }
  }

  &-details {
    @include flex-center-between;
    align-items: flex-start;
    gap: size(8);
    padding: size(4) size(14) size(8);
    position: relative;

    @include breakpoint(mobile576) {
      align-items: center;
      width: calc(100% - size(191));
    }

    .describe {
      width: calc(100% - size(48));
      @include flex-column;
      gap: size(4);

      .videotitle {
        cursor: pointer;
        font-size: size(16);
        font-weight: 500;
        @include line-clamp;
        @include transitionscolor;

        @include hover {
          color: $primary;
        }
      }

      .detail {
        .channelname {
          @include text-overflow;

          @include hover {
            color: $primary;
          }
        }

        .channelname,
        .videotext {
          font-size: size(14);
          font-weight: 500;
        }
      }
    }
  }

  &-info {
    position: absolute;
    top: 80%;
    right: size(0);
    display: none;
    @extend %animation;
    @extend %slideUpIn;
    z-index: 1000;
  }

  .vidropdown {
    cursor: pointer;
    width: size(48);
    @include h100;
    // min-height: size(120);
    @include flex-center;
    position: absolute;
    top: 0;
    right: size(4);

    .cardvid-info {
      width: size(181);
    }

    @include hover {
      .cardvid-info {
        display: block;
      }

      .dropdownicon {
        @include breakpoint(tab992) {
          background: $linkhoverbg;
        }
      }
    }
  }

  .dropdownicon {
    background: $white;
    @include square(32);
    @include circle;
    @include flex-center;
    padding: size(4);
    @include transitionsbackground;
  }

  .dropdownlist {
    background: $white;
    @include border(solid, 1, $menudivider);
    @include radius(10);
    box-shadow: $dropdownshadow;
    @include list-vertical;
    width: size(200);
    overflow: hidden;

    &-link {
      background: $white;
      @include flex-center-vert;
      gap: size(10);
      padding: size(10) size(30);
      @include transitionsbackground;

      .droplinkicon {
        @include square(16);
        @include flex-center;
        overflow: hidden;
      }

      .droplinktext {
        color: $dropdowntext;
        font-size: size(15);
      }

      @include hover {
        background: $linkhoverbg;
      }
    }
  }

  .offcanvas {
    min-height: size(280);
    height: size(280);
    max-height: size(280);
    @include double-radius(top, left, 16, top, right, 16);
    overflow: hidden;
    padding-top: size(14);

    &-header {
      @include flex-center;
      overflow: hidden;
      padding: size(14) size(0) size(24);

      .icon {
        width: size(41);
        height: size(4);
        @include flex-center;
        overflow: hidden;
      }
    }
  }

  @include hover {
    background: $favhoverbg;
  }
}

.cardsubscribed {
  @include flex-column;
  gap: size(24);

  @include breakpoint(mobile768) {
    flex-direction: row;
  }

  &-thumbnail {
    @include square(106);
    @include circle;
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
    }
  }

  &-body {
    @include flex-column;
    gap: size(24);

    @include breakpoint(mobile768) {
      width: calc(100% - size(130));
    }

    .detail {
      @include flex-column;
      gap: size(12);

      .title {
        color: $headingtext;
        font-size: size(16);
        font-weight: 600;
      }

      .info {
        .text {
          color: $textprimary;
          font-size: size(16);

          strong {
            color: $dropdowntext;
            font-size: inherit;
            font-weight: 500;
          }
        }
      }
    }

    .cardicon {
      @include square(20);
      @include flex-center;
      overflow: hidden;
    }
  }
}

.cardslider {
  &-thumbnail {
    @include flex-center;
    overflow: hidden;
    @include w100;
    min-height: size(230);

    img {
      @include w100;
    }
  }
}

.howdonationCard {
  @include border(solid, 1, #d6eaff);
  @include radius(10);
  padding: size(16) size(16);
  @include flex-column;
  gap: size(10);
  position: relative;
  padding-bottom: size(40);
  @include transitionsall;
  text-align: center;
  align-items: center;
  @include breakpoint(mobile576) {
    gap: size(22);
    text-align: left;
    align-items: flex-start;
  }
  @include hover {
    transform: translateY(-8px);
  }
  .icon {
    @include square(58);
    display: block;
    svg {
      @include wh100;
    }
  }
  .title {
    color: #170f49;
    font-feature-settings: "clig" off, "liga" off;
    @include font($primaryFont, 16, semibold, normal, 20);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content {
    @include line-clamp-3;
    font-feature-settings: "clig" off, "liga" off;
    line-height: normal;
    @include font($primaryFont, 14, normal, normal, 20);
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../images/donation/how-dontation-card.png);
    height: 52px;
    width: 52px;
    background-size: cover;
  }
}

.support-cart {
  @include flex-column;
  gap: size(26);
  background-color: #4fa5ff;
  background-image: url(../images/modal/modal-bg.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: size(22) size(0) size(16) size(12);
  @include radius(10);
  color: $white;
  align-items: flex-start;
  margin-top: size(0);
  @include breakpoint(tab992) {
    margin-top: size(96);
  }
  .support-title {
    color: $white;
    font-feature-settings: "clig" off, "liga" off;
    @include font($primaryFont, 16, semibold, normal, 20);
  }
  .support-des {
    font-feature-settings: "clig" off, "liga" off;
    @include font($primaryFont, 14, normal, normal, 20);
  }
  .support-donate-btn {
    padding: size(8) size(14);
    background: $white;
    @include radius(40);
    @include font($primaryFont, 14, medium, normal, 20);
    cursor: pointer;
    color: #3898fc;

    @include hover {
      @include setBgColor(darken($white, 10%), #3898fc);
    }
  }
}
