@use "../global" as *;
@use "../partials" as *;

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &:focus-within {
    scroll-behavior: inherit;
  }
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
button,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
html,
i,
input,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
main,
nav,
object,
ol,
output,
option,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
select,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  font: inherit;

  &::selection {
    @include setBgColor($primary, $white);
  }
}

body {
  @include setBgColor($white, $textprimary);
  font-family: $primaryFont;
  font-size: size(16);
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  margin-top: size(96);
  
  @include breakpoint(tab992) {
    margin-top: size(100);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingtext;
  margin: 0;
  font-family: inherit;
  // text-wrap: balance;

  &::selection {
    @include setBgColor($primary, $white);
  }
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

svg,
picture {
  @include wh100;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

a {
  color: $headingtext;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $headingtext;
  }

  p {
    color: $textprimary;
  }
}

strong,
i {
  font-weight: bolder;
}

iframe {
  @include w100;
}

select {
  cursor: pointer;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-4,
.display-5,
.display-6 {
  color: $headingtext;
  font-family: inherit;
}

h1,
h2,
h3,
h4 {
  img {
    object-fit: contain;
  }
}

hr {
  border-color: $menudivider;
  margin: size(0);
  opacity: 1;
}
