@use "../global" as *;
@use "../partials" as *;

$darkbg-1: #191919;
$darkbg-2: #333333;
$darkcardbg: #1D1E22;
$lightcolor: #cccccc;
$titlecolor: #002f56;

.dark-mode {
  @include setBgColor($darkbg-2, $white);
  
  .cardvideo {
    &-header {
      .video-thumbnail {
        .timeduration {
          @include setBgColor($white, $durationbg);
        }
      }
    }
  
    &-body {
      .details {
        .videotitle {
          color: $white;
        }
  
        .detail {
          .channelname {
            color: $lightcolor;
          }
  
          .channelname,
          .videotext {
            color: $lightcolor;
          }
        }
      }
  
      .videodropdown {
        .dropdownicon {
          background: transparent;

          svg {
            path {
              stroke: $white;
            }
          }
        }
  
        @include hover {
          .dropdownicon {
            background: darken($lightcolor, 40%);
          }
        }
      }
  
      .dropdownicon {
        background: transparent;
  
        @include hover {
          background: lighten($darkbg-1, 25%);
        }
      }
    }
  
    .offcanvas {
      background: $darkbg-1;
  
      &-header {
        background: $darkbg-1;
  
        .icon {
          svg {
            line {
              stroke: lighten($darkbg-1, 60%); 
            }
          }
        }
      }

      &-body {
        background: $darkbg-1;

        .dropdownlist {
          &-link {
            background: $darkbg-1;
    
            .droplinkicon {
              svg {
                path {
                  fill: $white;
                }
              }
            }
    
            .droplinktext {
              color: $white;
            }
    
            @include hover {
              background: lighten($darkbg-1, 25%);
            }
          }
        }
      }
    }
  }

  .btn-cancel {
    color: $lightcolor;

    &:hover {
      color: $danger;
    }
  }
  
  .cardchannel {
    &-body {
      .channelinfo {
        .title {
          color: $white;
        }
  
        .text,
        .channelname {
          color: $lightcolor;
        }
      }
    }
  }
  
  .cardfavorite {
    background: $darkbg-1;
  
    .favoritethumb {
      .timeduration {
        @include setBgColor($white, $durationbg);
      }
    }
  
    &-details {
      .describe {
        .videotitle {
          color: $white;
        }
  
        .detail {  
          .channelname,
          .videotext {
            color: $lightcolor;
          }
        }
      }
  
      .favdropdown {
        .dropdownicon {
          background: transparent;

          svg {
            path {
              stroke: $lightcolor;
            }
          }
        }
  
        &-info {
          .dropdownlist {      
            &-link {
              background: $white;
        
              .droplinktext {
                color: $dropdowntext;
              }
        
              @include hover {
                background: $linkhoverbg;
              }
            }
          }
        }
  
        .downloadsinfo {
          .dropdownlist {
            width: size(180);
  
            &-link {
              .droplinkicon {
                margin-top: size(-3);
              }
            }
          }
        }
  
        @include hover {
          .dropdownicon {
            @include breakpoint(tab992) {
              background: $darkbg-2;
            }
          }
  
          .favdropdown-info {
            display: block;
          }
        }
      }
    }
  
    @include hover {
      background: lighten($darkbg-1, 20%);
    }
  }
  
  .cardvid {
    background: $darkbg-1;
  
    .videothumb {
      .timeduration {
        @include setBgColor($white, $durationbg);
      }
    }
  
    &-details {
      .describe {
        .videotitle {
          color: $white;
        }
  
        .detail {
          .channelname,
          .videotext {
            color: $lightcolor;
          }
        }
      }
    }
  
    .vidropdown {  
      @include hover {  
        .dropdownicon {
          @include breakpoint(tab992) {
            background: lighten($darkbg-1, 20%);
          }
        }
      }
    }
  
    .dropdownicon {
      background: transparent;

      svg {
        path {
          stroke: $white;
        }
      }
    }
  
    .dropdownlist {
      gap: 0;
      background: $darkbg-2;
      border-color: $darkbg-2;
      box-shadow: $dropdownshadow;
  
      &-link {
        background: $darkbg-1;
        
        .droplinkicon {
          svg {
            path {
              fill: $white;
            }
          }
        }
  
        .droplinktext {
          color: $white;
        }
  
        @include hover {
          background: lighten($darkbg-1, 25%);

        }
      }
    }
  
    @include hover {
      background: transparent;

      .dropdownicon {
        background: $darkbg-1;
      }
    }
  }
  
  .cardsubscribed {
    &-body {  
      .detail {  
        .title {
          color: $white;
        }
  
        .info {
          .text {
            color: $lightcolor;
  
            strong {
              color: $lightcolor;
            }
          }
        }
      }
    }
  }

  .mobilesubscribedlist {
    .mobilesubscribed {
      background: $darkcardbg;
  
      .leftcontent {
        .info {
          .channelname {
            color: $white;
          }
  
          .subscriber {
            color: $lightcolor;
          }
        }
      }

      .rightcontent {
        .btn-mysubscribed {
          @include setBgColor(lighten($darkbg-1, 25%), $white);
          border-color: $darkcardbg;

          @include hover {
            background: $primary;
            border-color: $primary;
          }
        }
      }
    }
  }
  
  .howdonationCard {
    border-color: $lightcolor;
    
    .title {
      color: $white;
    }
  }
  
  .support-cart {
    background-color: #4fa5ff;

    .support-title {
      color: $white;
    }

    .support-donate-btn {
      background: $white;
      color: #3898fc;
  
      @include hover {
        @include setBgColor(darken($white, 10%), #3898fc);
      }
    }
  }
  
  .videoinfo .accordion-item:first-of-type .accordion-button, .videoinfo .accordion-item:last-of-type .accordion-button {
    color: $white;
  }

  .accordion-button {
    &:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    &::after {
      --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
  }

  .dot {
    background: $white;
  }

  .popular-title,
  .trending-title,
  .notificationtitle,
  .logtitle,
  .publishertitle,
  .subscribedchannel-title,
  .favorites-title,
  .deltitle,
  .themetitle,
  .modetitle,
  .videotitle,
  .username,
  .channelname,
  .report-title,
  .popularsearch-title {
    color: $white;
  }

  .popularsearch {
    &-body {
      .btn-searchtag {
        @include setBgColor($darkbg-1, $white);
        border-color: $darkbg-1;
    
        &:hover:not(.active) {
          background: $primary !important;
          color: $white !important;
          border-color: $primary !important;
        }
    
        &.active {
          @include setBgColor($primary, $white);
          border-color: $primary;
        }
      }
    }
  }

  .videoschannels {
    .nav-tabs {
      border-color: $lightcolor;

      .nav-link {
        color: $lightcolor;

        &:hover:not(.active) {
          color: $primary;
        }

        &.active {
          @include setBgColor($darkbg-1, $white);
        }
      }
    }
  }

  .videoplay .videoheader .details .info .text,
  .videoplay .videoheader .details .info .time,
  .desktopsubscribe-left .subscribinfo .info .text,
  .videoplay .comments-body .myreplybox-left .myreplydetails .topinfo .textcomment,
  .videoplay .comments-body .commenterbox-left .commenterdetails .topinfo .textcomment,
  .videoplay .comments-body .commenterbox-left .commenterdetails .topinfo .user .time {
    color: $lightcolor !important;
  }

  .desktopsubscribe-left .subscribinfo .info .channelname,
  .videoplay .comments-body .commenterbox-left .commenterdetails .topinfo .user .username,
  .videoplay .comments-body .commenterbox-left .commenterdetails .commentlist .btnlike .text {
    color: $white !important;
  }

  .time,
  .text {
    color: $lightcolor;
  }

  .seemore {
    color: $lightcolor;
  }

  .btn-action {
    .icon {
      svg {
        path {
          fill: $lightcolor;
        }
      }
    }
  }

  .modal-header h4 {
    color: $white;
  }

  .btn-action.morebtn {
    .icon {
      svg {
        path {
          stroke: $lightcolor;
        }
      }
    }
  }

  .videoplay {
    .comments {
      &-header {
        .commenttitle {
          color: $white;
        }
      }
  
      &-body {
        .commentbox {
          .commentinput {
            .commentfield {
              @include setBgColor(transparent, $white);
            }
          }
        }
  
        .commenterbox {
          @include border-single(bottom, solid, 1, $menudivider);
          font-size: size(14);
          @include flex;
          gap: size(10);
          padding-bottom: size(24);
  
          &-left {
            width: calc(100% - size(96));
            @include flex;
            gap: size(16);
  
            .replyer {
              @include square(40);
              @include circle;
              @include flex-center;
              overflow: hidden;
            }
  
            .commenterdetails {
              width: calc(100% - size(56));
              @include flex-column;
              gap: size(10);
  
              .topinfo {
                @include flex-column;
                gap: size(10);
  
                .user {
                  @include flex-center-vert;
                  gap: size(16);
  
                  .username {
                    color: $headingtext;
                    font-size: size(14);
                    font-weight: 500;
                  }
  
                  .time {
                    color: $textprimary;
                    font-size: size(12);
                  }
                }
  
                .textcomment {
                  color: $textprimary;
                  font-size: size(14);
                }
              }
  
              .commentlist {
                @include flex-center-vert;
                gap: size(16);
  
                .btnlike {
                  @include flex-center-vert;
                  gap: size(4);
  
                  .icon {
                    @include square(14);
                    @include flex-center;
                  }
  
                  .text {
                    color: $textprimary;
                    font-size: size(14);
                  }
                }
  
                .btn-replies {
                  color: $primary;
                  font-size: size(14);
  
                  @include hover {
                    color: $primarydark;
                  }
                }
              }
            }
          }
  
          &-right {  
            .btn-dropdown {
              svg {
                path {
                  stroke: $white;
                }
              }
            }
  
            .replydropdown {  
              .replylist {
                background: $darkbg-1;
                border-color: $darkbg-1;
                gap: 0;
  
                &-link {
                  background: $darkbg-1;
  
                  .icon {
                    svg {
                      path {
                        stroke: $white;
                      }
                    }
                  }
  
                  .text {
                    color: $white;
                  }
  
                  @include hover {
                    background: lighten($darkbg-1, 25%);
                  }
                }
  
                .dropdownlist-link {
                  background: $darkbg-1;
  
                  .droplinkicon {
                    svg {
                      path {
                        stroke: $white;
                      }
                    }
                  }
  
                  .droplinktext {
                    color: $white;
                  }
  
                  @include hover {
                    background: lighten($darkbg-1, 25%);
                  }
                }
              }
            }
  
            @include hover {
              .btn-dropdown {
                background: lighten($darkbg-1, 25%);
              }
  
              .replydropdown {
                display: block;
              }
            }
          }
        }
  
        .myreply {
          @include flex-column;
          gap: size(24);
        }
  
        .myreplybox {
          font-size: size(14);
          @include flex;
          gap: size(10);
  
          &-left {
            width: calc(100% - size(42));
            @include flex;
            gap: size(16);
  
            .replyer {
              @include square(40);
              @include circle;
              @include flex-center;
              overflow: hidden;
            }
  
            .myreplydetails {
              width: calc(100% - size(56));
              @include flex-column;
              gap: size(10);
  
              .topinfo {
                @include flex-column;
                gap: size(10);
  
                .user {
                  @include flex-center-vert;
                  gap: size(16);
  
                  .username {
                    color: $headingtext;
                    font-size: size(14);
                    font-weight: 500;
                  }
  
                  .time {
                    color: $textprimary;
                    font-size: size(12);
                  }
                }
  
                .textcomment {
                  color: $textprimary;
                  font-size: size(14);
                }
              }
  
              .commentlist {
                @include flex-center-vert;
                gap: size(16);
  
                .btnlike {
                  @include flex-center-vert;
                  gap: size(4);
  
                  .icon {
                    @include square(14);
                    @include flex-center;
                  }
  
                  .text {
                    color: $textprimary;
                    font-size: size(14);
                  }
                }
  
                .btn-replies {
                  color: $primary;
                  font-size: size(14);
  
                  @include hover {
                    color: $primarydark;
                  }
                }
              }
            }
          }
  
          &-right {
            @include square(32);
            position: relative;
  
            .btn-dropdown {
              @include square(24);
              @include circle;
            }
  
            .replydropdown {
              .replylist {
                background: $darkbg-1;
                border-color: $darkbg-1;
  
                &-link {
                  background: $darkbg-1;
  
                  .icon {
                    svg {
                      path {
                        stroke: $white;
                      }
                    }
                  }
  
                  .text {
                    color: $white;
                  }
  
                  @include hover {
                    background: lighten($darkbg-1, 25%);
                  }
                }
  
                .dropdownlist-link {
                  background: $darkbg-1;
  
                  .droplinkicon {
                    svg {
                      path {
                        stroke: $white;
                      }
                    }
                  }
  
                  .droplinktext {
                    color: $white;
                  }
  
                  @include hover {
                    background: lighten($darkbg-1, 25%);
                  }
                }
              }
            }
  
            @include hover {
              .btn-dropdown {
                background: lighten($darkbg-1, 25%);
              }
            }
          }
        }
      }
    }
  }

  .homeslider .swiper-pagination .swiper-pagination-bullet {
    background: $lightcolor;
  }

  .homeslider .swiper-pagination .swiper-pagination-bullet-active {
    background: $primary;
  }

  .preloader {
    background: $darkbg-1;
  }

  .appmenu {
    background: $darkbg-1;
    border-color: $darkbg-1;
  }

  .applist {
    &-link {  
      .icon {
        svg {
          path {
            fill: $lightcolor;
          }
        }
      }
  
      .text {
        color: $lightcolor;
      }
  
      &:hover:not(.active) {
        .icon {
          svg {
            path {
              fill: $primary;
            }
          }
        }
  
        .text {
          color: $primary;
        }
      }
  
      &.active {
        .icon {
          svg {
            path {
              fill: $primary;
            }
          }
        }
  
        .text {
          color: $primary;
        }
      }
    }
  }

  .header {
    background: $darkbg-1;
  
    @include breakpoint(tab992) {
      border-color: $darkbg-1;
    }
  
    &-nav {
      padding-bottom: size(0);

      @include breakpoint(tab992) {
        border-color: $darkbg-1;
      }
  
      .reminder {  
        .prayer {  
          .prayericon {
            background: lighten($darkbg-1, 25%);

            svg {
              path {
                fill: $white;
              }
            }
          }
  
          .details {  
            .waqtname {
              color: $white;
            }
  
            .waqtdurations {
              color: $lightcolor;
            }
          }
        }
  
        .remaining {  
          &-title,
          &-text {
            color: $textprimary;
          }
  
          .progress {
            background: lighten($darkbg-1, 25%);
  
            &-bar {
              background: $primary;
            }
          }
        }
      }
    }
  }

  .searchform {
    background: transparent;
    border-color: $lightcolor;
  
    .searchfield {
      @include setBgColor(transparent, $white);
  
      &::placeholder {
        color: $textplaceholder;
      }
    }
  
    .btn-search {
      @include square(24);
      @include flex-center;
  
      @include hover {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
  
    &:focus-within {
      border-color: $primary;
    }
  }

  .mainlist {
    &-link {
      background: $darkbg-1;
  
      .icon {
        svg {
          path {
            fill: $lightcolor;
          }
        }
      }
  
      .linktext {
        color: $lightcolor;
      }
  
      &:hover:not(.active) {
        background: lighten($darkbg-1, 25%);
  
        .icon {
          svg {
            path {
              fill: $primary;
            }
          }
        }
  
        .linktext {
          color: $white;
          font-weight: 600;
        }
      }
  
      &.active {
        background: lighten($darkbg-1, 25%);
  
        .icon {
          svg {
            path {
              fill: $primary;
            }
          }
        }
  
        .linktext {
          color: $white;
          font-weight: 600;
        }
      }
    }
  }

  .mobilelist {
    &-link {
      svg {
        path {
          fill: $white;
        }
      }

      @include hover {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
  }

  .btn-burger {
    svg {
      path {
        fill: $white;
      }
    }

    @include hover {
      svg {
        path {
          fill: $primary;
        }
      }
    }
  }
  
  .desktoplist {
    &-link {
      background: lighten($darkbg-1, 25%);

      svg {
        path {
          stroke: $white;
        }
      }
    }

    .desktopdropdown {
      .desktoplist-link {
        svg {
          path {
            stroke: none;
            fill: $white;
          }
        }
      }
    }
  
    .darkmodeitem,
    .useritem {
      @include hover {
        .desktoplist-link {
          background: $primary;
  
          svg {
            path {
              stroke: $white;
            }
          }
        }
      }
    }
  
    .desktopdropdown {  
      @include hover {
        .desktoplist-link {
          background: $primary;
  
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  
    .useritem {
      .userdropdown {
        .userlist {
          background: $darkbg-1;
          border-color: $darkbg-1;
  
          &-link {
            .icon {
              svg {
                path {
                  fill: $white;
                }
              }
            }
  
            .text {
              color: $white;
            }
  
            @include hover {
              .icon {
                svg {
                  path {
                    fill: $primary;
                  }
                }
              }
  
              .text {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }

  .desktopdropdownlist {
    background: $darkbg-1;
    border-color: $darkbg-1;
  
    &-link {
      .leftcontent {
        .details {
          .title {
            color: $white;
  
            @include hover {
              color: $primary;
            }
          }
  
          .time {
            color: $lightcolor;
          }
        }
      }
  
      @include hover {
        background: lighten($darkbg-1, 15%);
      }
    }
  }

  .sidebar {
    background: $darkbg-1;

    &.sidecollapsed {
      .publisher {
        background: transparent;
      }
    }
  }
  
  hr {
    border-color: $lightcolor;
  }

  .publisher {
    background: $darkbg-1;
    border-color: $darkbg-1;
    background: lighten($darkbg-1, 25%);
  
    .publishertitle {
      font-size: size(18);
      font-weight: 600;
    }
  
    .publishericon {
      svg {
        path {
          fill: $darkbg-1;
        }
      }
    }
  }
  
  .offcanvas {
    background: $darkbg-1;

    &-header {
      background: $darkbg-1;

      .icon {
        svg {
          line {
            stroke: lighten($darkbg-1, 60%); 
          }
        }
      }

      .btn-close {
        i {
          color: $lightcolor;
        }
      }
    }

    &-body {
      background: $darkbg-1;
    }
  }

  .listmobile {
    &-link {
      background: lighten($darkcardbg, 20%);
  
      .icon {
        background: $lightcolor;
      }
  
      .detail {
        .title {
          color: $white;
        }
  
        .count {
          color: $lightcolor;
        }
      }
    }
  }

  .modal {
    &-content {
      background: $darkbg-1;
    }
  
    &-header {
      background: $darkbg-1;
  
      .btn-close {
        @include square(24);
        @include flex-center;
        overflow: hidden;
        opacity: 1;
  
        i {
          color: $white;
        }
  
        svg {
          @include wh100;
          @include transitiontransform;

          path {
            stroke: $white;
          }
        }
  
        @include hover {
          opacity: 1;
          @include rotate(180);
  
          i {
            color: $danger;
          }
  
          svg {
            path {
              stroke: $danger;
            }
          }
        }
      }
    }

    &-body {
      background: $darkbg-1;
    }
  }

  .myauth {
    &-body {
      .authtitle {
        color: $white;
      }
  
      .authbox {
        label {
          color: $lightcolor;
        }
      }
  
      .iti {
        input {
          @include setBgColor(transparent, $white);
          border-color: $textprimary;
  
          &::placeholder {
            color: $textplaceholder;
          }
  
          &:focus {
            border-color: $lightcolor;
          }
        }
      }
  
      .otpbox {
        .otpfield {
          @include setBgColor(transparent, $white);
          border-color: $textprimary;
  
          &:focus {
            border-color: $lightcolor;
          }
        }
      }
  
      .remainingtime {
        color: $lightcolor;
      }
    }
  
    &-footer {
      .titlebox {  
        .title {
          color: $white;
        }

        .bar {
          svg {
            line {
              stroke: $lightcolor;
            }
          }
        }
      }
    }
  }

  .btn-skip,
  .btn-resend {
    color: $lightcolor;
  }

  .btn-subscribe {
    &:hover {
      background: transparent;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: $darkcardbg;

    svg {
      path {
        fill: $lightcolor;
      }
    }
  }

  .regform {
    .inputbox {
      label {
        color: $white;
      }
  
      input {
        @include setBgColor(transparent, $white);
        border-color: $textprimary;
  
        &::placeholder {
          color: $textplaceholder;
        }
  
        &:focus {
          border-color: $lightcolor;
        }
      }
    }
  }

  .customcheck .checklabel {
    color: $lightcolor;
  }

  .notifications {
    &-body {
      .notification {
        background: $darkcardbg;
    
        &-info {
          .info {
            .notifytitle {
              color: $white;
            }
    
            .notifytime {
              color: $lightcolor;
            }
          }
        }
    
        @include hover {
          background: lighten($darkbg-1, 25%);
        }
      }
    }
  }

  .searchresults {
    &-header {
      .btn-back {
        svg {
          path {
            fill: $lightcolor;
          }
        }
      }
  
      .searchbox {
        background: $darkcardbg;
        @include border(solid, 1, $searchborder);
  
        .searchfield {
          color: $white;
        }
  
        .btn-search {
          svg {
            path {
              fill: $lightcolor;
            }
          }
  
          @include hover {
            svg {
              path {
                fill: $primary;
              }
            }
          }
        }
  
        &:focus-within {
          border-color: $primary;
        }
      }
    }
  
    &-body {
      .searchtitle {
        color: $white;
      }
    }
  }

  .popularlist {
    &-link {
      @include setBgColor(lighten($darkbg-1, 25%), $white);
  
      @include hover {
        @include setBgColor($primary, $white);
      }
    }
  }

  .salatreminder {
    &-header {
      background: $darkbg-2;
  
      .reminder-title {
        color: $white;
      }
    }
  
    &-body {
      .leftcontent {
        .topinfo {
          .datetitle {
            color: $lightcolor;
          }
  
          .date {
            color: $lightcolor;
          }
  
          .location {
            .locicon {
              svg {
                path {
                  stroke: $white;
                }
              }
            }
  
            .locname {
              color: $white;
            }
          }
  
          .btn-refresh {
            svg {
              path {
                stroke: $white;
              }
            }
  
            @include hover {
              svg {
                path {
                  stroke: $primary;
                }
              }
            }
          }
        }
  
        .downinfo {
          .salatremind {
            background: $darkbg-1;
  
            .waqtname {
              color: $white;
            }
  
            .waqtduration {
              color: $white;
            }
  
            .upcomingprayer {
              color: $lightcolor;
            }
  
            .remaining {
              &-title {
                color: $white;
              }
  
              .progress {
                background: $darkbg-2;
  
                &-bar {
                  background: $primary;
                }
              }
            }
  
            .clock {
              .divide {
                color: $lightcolor;
              }
  
              .hours,
              .minutes,
              .seconds {
                .time {
                  color: $white;
                }
  
                .title {
                  color: $lightcolor;
                }
              }
            }
          }
  
          .salatlist {
            &-header {
              .title {
                color: $white;
              }
            }
  
            &-body {
              .salatinfo {
                .salatwaqt {
                  .waqtname {
                    color: $white;
                  }
  
                  .waqtduration {
                    color: $lightcolor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  .mobsaltreminder {
    &-header {
      .start-title {
        color: $white;
      }
  
      .location {
        .locicon {
          svg {
            path {
              stroke: $white;
            }
          }
        }
  
        .locname {
          color: $white;
        }
      }
  
      .btn-refresh {
        svg {
          path {
            fill: $white;
            stroke: none;
          }
        }

        @include hover {
          svg {
            path {
              fill: $primary;
              stroke: none;
            }
          }
        }
      }
  
      .arbidate {
        color: $lightcolor;
      }
  
      .engdate {
        color: $lightcolor;
      }
  
      .remindbox {
        .remindtitle {
          color: $white;
        }
      }
    }
    
    &-footer {
      .waqtlist {
        background: $darkcardbg;
  
        &-item {
          background: $darkcardbg;
          border-color: $lightcolor;
  
          .leftinfo {
            .title {
              color: $white;
            }
  
            .timedurations {
              color: $lightcolor;
            }
          }
  
          &.active {
            background: $primarydark;
            border-color: $primarydark;
  
            .leftinfo {
              .title,
              .timedurations {
                color: $white;
              }
            }
          }

          &:last-of-type {
            border-bottom: 0;
          }
        }
      }
  
      .toggle-switch > :checked + label::before, :checked + .toggle-switch-label::before {
        background: $primary;
        border-color: $primary;
      }
      
      .toggle-switch > :checked + label::after, :checked + .toggle-switch-label::after {
        background: $primary;
        border-color: $primary;
      }
    }
  }
  
  .dropdownlist {
    background: $darkbg-2;
    border-color: $darkbg-2;
    box-shadow: $dropdownshadow;
    gap: size(0);

    &-link {
      background: $darkbg-1;

      .droplinkicon {
        svg {
          path {
            fill: $white;
          }
        }
      }

      .droplinktext {
        color: $white;
      }

      @include hover {
        background: lighten($darkbg-1, 25%);
      }
    }
  }

  .deletebox {
    &-body {
      .btn-cancel {
        @include setBgColor(transparent, $white);

        @include hover {
          color: $red;
        }
      }
    }
  }

  .settingsection {
    .settingdescription {
      .nav-tabs {
        border-color: $lightcolor;
  
        .nav-link {
          color: $white;
  
          &.active {
            background: $darkbg-1;
            color: $white;
            border-color: $primary;
          }
  
          &:hover:not(.active) {
            color: $lightcolor;
          }
        }
      }
  
      .form-label {
        color: $lightcolor;
      }
  
      .form-control {
        background: transparent;
        color: $white;
  
        &::placeholder {
          color: $textplaceholder;
        }
  
        &:focus {
          border-color: $primary;
        }
      }
    }
  
    .deleteacc {
      &-header {
        .title {
          color: $white;
        }
      }
  
      &-body {
        .deleteinfo {
          .text {
            color: $lightcolor;
          }
        }
      }
    }
  
    .notificationlist {
      .notificationsingle {
        .leftinfo {
          .title {
            color: $white;
          }
  
          .brows {
            &-text {
              color: $white;
            }
          }
  
          .text {
            color: $lightcolor;
          }
        }
      }
    }
  }

  .privacysection {
    &-body {
      .privacytitle {
        color: $white;
      }
  
      .privacy {
        &-header {
          .title {
            color: $white;
          }
        }
  
        &-body {
          .privacytext {
            color: $lightcolor;
          }
        }
      }
    }
  }

  .helpandfeedback {
    &-body {
      .helpandfeedbacktitle {
        color: $white;
      }
    }
  
    .help {
      &-header {
        .helptitle {
          color: $white;
        }
      }
  
      &-body {
        .accordion {
          &-button {
            color: $lightcolor;
  
            &:not(.collapsed) {
              @include setBgColor(transparent, $white);
            }
          }
  
          &-body {
            .faqtext {
              color: $white;
            }
          }
        }
      }
    }
  
    .feedback {
      &-header {
        .feedbacktitle {
          color: $white;
        }
      }
    }
  }

  .feedbackform {
    .inputbox {
      .inputlabel {
        color: $lightcolor;
      }
  
      .inputfield {
        @include setBgColor(transparent, $white);
  
        &::placeholder {
          color: $textplaceholder;
        }
  
        &:focus {
          border-color: $primary;
        }
      }
    }
  }

  .donation-hero {
    background: lighten($darkbg-2, 20%);
    
    .hero-left {
      .welcome {
        color: $white;
      }

      .hero-heading {
        color: $titlecolor;
      }

      .hero-des {
        color: $lightcolor;
      }
    }
  }
  
  .howdonation { 
    .howdonation-top {
      .howdonation-title {
        color: $white;
      }
      
      .howdonation-des {
        color: $lightcolor;
      }
    }
  }
  
  .donate {
    .left-content {
      p {
        color: $lightcolor;
      }

      h1 {
        color: $white;
      }
    }

    .cards {
      .donation-card {
        @include border(solid, 1, $menudivider);
        
        label {
          
          h5 {
            color: $primarydark;
          }
        }
  
        input[type="radio"] {
          background-color: white;

          &::before {
            background-color: #f9fafd;
            border: 1px solid #e2e6f3;
          }

          &:checked {
            border: 2px solid $primarydark;

            &::after {
              background: $primarydark;
            }
          }
        }
      }
    }

    .currency {
      @include border(solid, 1, $menudivider);
      
      .currency-dropdown {
        border-right: 1px solid $menudivider;

        select {
          color: #170f49;
        }
      }
    }
  
    .form-step-top {
      .title {
        color: #004d8d;
      }

      .value {
        color: #170f49;
      }
    }

    .input-group {
      label {
        color: #6f6c90;
      }

      textarea {
        @include border(solid, 1, $menudivider);
      }
    }

    .radio-group {
      .select-text {
        color: #6f6c90;
        font: 16px normal $primaryFont;
  
        span {
          color: #004d8d;
          font-weight: 600;
        }
      }
  
      .single-payment {
        label {
          border: 1px solid $menudivider;
        }
  
        input[type="radio"]:checked + label {
          border: 2px solid $primarydark;
        }
      }
    }

    .donation-status {
      .title {
        color: #170f49;
      }

      .text {
        color: var(--neutral-600, #6f6c90);
      }
    }

    .support {
      color: #141b34;
    }
  }
  
  .donate .multistep-form {
    @include border(solid, 1, #e7eaee);
  
    .next-prev {
      .prev-step {
        @include border(solid, 1, $primarydark);
        color: $primarydark;

        @include hover {
          background: $primarydark;
          color: $white;
        }
      }
      
      .next-step {
        background-color: $primarydark;
        color: $white;
        @include border(solid, 1, $primarydark);

        @include hover {
          @include setBgColor($white, $primarydark);
        }
      }
    }
  }
  
  .faq {
    .left-content {
      h1 {
        color: #1a191e;
      }

      p {
        color: #004d8d;
      }
    }
    
    #faqAccordion {
      .accordion-item {
        .accordion-header {
          cursor: pointer;
          button {
            color: #1a191e;
          }
  
          &.collapsed {
            background-color: #ddd;
          }
        }
      }
    }
  }
  
  .footer {
    &::after {
      background-color: #e7eaee;
    }

    .footer-content {
      p {
        color: #718096;
      }
    }
  }
  
  .step-section {
    &::after {
      background-color: #e7eaee;
    }
  }
  
  .step {
    &.active {
      .number {
        background: #004d8d;
        color: $white;
      }
      
      .line {
        &::after {
          background-color: #004d8d;
        }
      }
    }

    &.completed {
      .number {
        background: #004d8d;
        color: $white;
      }

      .line {
        &::after {
          background-color: #004d8d;
          width: 100%;
        }
      }
    }

    .number {
      background: #eff0f6;
      color: #6f6c90;
    }

    .line {
      background: #eff0f6;
    }
  }  
}