$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(211, 97%, 60%); //#3898FC
$primarydark: #004D8D; //#004D8D


// BACKGROUND-COLORS
$linkhoverbg: hsl(213, 39%, 95%); //#EFF3F8
$progressbg: hsl(0, 0%, 92%); //#EBEBEB

// TEXT-COLORS
$textprimary: hsl(216, 15%, 52%); //#718096
$headingtext: hsl(216, 17%, 12%); //#191D23
$textplaceholder: hsl(240, 6%, 73%); //#B5B5BD
$dropdowntext: hsl(218, 17%, 35%); //#4A5568


$danger: hsl(0, 91%, 54%); //#F51F1F

// BORDER-COLORS
$menudivider: hsl(214, 17%, 92%); //#E7EAEE
$searchborder: hsl(214, 32%, 91%); //#E2E8F0

// SHADOWS

// BOX-SHADOWS
$sidebarshadow: 0 0 .875rem 0 rgba($black, 0.10);
$dropdownshadow: .25rem .25rem .25rem 0 rgba($black, 0.04);
$arrowshadow: drop-shadow(0 .25rem .25rem rgba($black, 0.10));