$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(211, 97%, 60%); //#3898FC
$primarydark: hsl(207, 100%, 28%); //#004D8D

// BACKGROUND-COLORS
$linkhoverbg: hsl(213, 39%, 95%); //#EFF3F8
$progressbg: hsl(0, 0%, 92%); //#EBEBEB
$favhoverbg: hsl(214, 100%, 99%); //#F8FBFF
$publisherbg: hsl(216, 45%, 98%); //#F7F9FC
$modalbg: hsl(204, 45%, 98%); //#F7FAFC
$inputbg: hsl(214, 32%, 91%); //#E2E8F0
$switchbg: hsl(211, 25%, 84%); //#CBD5E0
$bulletbg: hsl(216, 10%, 90%); //#E3E5E8

// TEXT-COLORS
$textprimary: hsl(216, 15%, 52%); //#718096
$headingtext: hsl(216, 17%, 12%); //#191D23
$textdark: hsl(220, 26%, 14%); //#1A202C
$textplaceholder: hsl(240, 6%, 73%); //#B5B5BD
$dropdowntext: hsl(218, 17%, 35%); //#4A5568
$textblue: hsl(211, 100%, 65%); //#4FA5FF
$commentplaceholder: hsl(0, 0%, 38%); //#606060
$labeltext: hsl(210, 21%, 33%); //#425466
$linktext: hsl(228, 11%, 46%); //#686D82
$timetext: hsl(214, 20%, 69%); //#A0AEC0
$red: hsl(0, 100%, 63%); //#FF4040
$iconbg: hsl(210, 38%, 95%); //#EDF2F7

$danger: hsl(0, 91%, 54%); //#F51F1F

// BORDER-COLORS
$menudivider: hsl(214, 17%, 92%); //#E7EAEE
$searchborder: hsl(214, 32%, 91%); //#E2E8F0

// SHADOWS

// BOX-SHADOWS
$sidebarshadow: 0 0 0.875rem 0 rgba($black, 0.1);
$dropdownshadow: 0.25rem 0.25rem 0.25rem 0 rgba($black, 0.04);
$arrowshadow: drop-shadow(0 0.25rem 0.25rem rgba($black, 0.1));
$dropshadow: 0 0.25rem 0.25rem 0 rgba($black, 0.1);

$linkshadow: 0 0 1.875rem 0 rgba(43, 39, 41, 0.04);
