$time: 350ms;

// DEFAULT COLORS
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(211, 97%, 60%); //#3898FC


// BACKGROUND-COLORS


// TEXT-COLORS


$danger: hsl(0, 91%, 54%); //#F51F1F

// BORDER-COLORS

// SHADOWS

// BOX-SHADOWS