@use "../../global" as *;
@use "../../partials" as *;

.modal {
  &-content {
    @include radius(20);
  }

  &-header {
    border: 0;

    .btn-close {
      @include square(24);
      @include flex-center;
      overflow: hidden;
      opacity: 1;

      i {
        // color: $primary;
        font-size: size(24);
      }

      svg {
        @include wh100;
        @include transitiontransform;
      }

      @include hover {
        opacity: 1;
        @include rotate(180);

        i {
          color: $danger;
        }

        svg {
          path {
            stroke: $danger;
          }
        }
      }
    }
  }
}

.authmodal {
  overflow: hidden;

  .modal-content {
    background: $modalbg;
  }

  .modal-body {
    &::-webkit-scrollbar {
      background: transparent;
      width: size(0);
    }
  }
}

.deletemodal {
  .modal-content {
    padding: size(24);
  }

  .modal-header {
    @include border-single(bottom, solid, 1, $menudivider);
    padding: 0;
    padding-bottom: size(14);
    margin-bottom: size(14);
  }

  .modal-body {
    padding: 0;
  }

  .deltitle {
    color: $textdark;
    font-size: size(18);
    font-weight: 500;
  }

  .deletebox {
    @include flex-column;
    gap: size(48);

    &-header {
      .deletetext {
      }
    }

    &-body {
      @include flex-end;

      button {
        @include radius(6);
        font-size: size(14);
        font-weight: 600;
        padding: size(12) size(24);
        text-align: center;
      }

      .btn-cancel {
        @include setBgColor($white, $dropdowntext);

        @include hover {
          color: $black;
        }
      }

      .btn-continue {
        @include setBgColor($red, $white);

        @include hover {
          @include setBgColor($danger, $white);
        }
      }
    }
  }
}
.custom-modal-content {
  @include radius(10);
}

.popup-modal {
  @include radius(10);
  padding-left: size(20);
  // padding-right: size(15);
  padding-block: size(15);
  @include flex-column;
  background-image: url(../images/modal/modal-bg.png);
  gap: size(22);
  background-repeat: no-repeat;
  background-position: bottom right;
  overflow: hidden;

  .popup-modal-header {
    @include flex-between;
  }
  .modal-close-btn {
    padding-right: size(15);
    @include hover {
      svg {
        stroke: $danger;
      }
    }
  }
  .popup-modal-body {
    @include flex-column;
    gap: size(18);
    align-items: start;
    .popup-banner {
      @include w100;
      padding-right: size(20);
      img {
        @include w100;
      }
    }
    .title {
      color: #170f49;
      leading-trim: both;
      text-edge: cap;
      font-feature-settings: "clig" off, "liga" off;
      @include font($primaryFont, 14, semibold, normal, 20);
    }
    .des {
      color: #6f6c90;
      leading-trim: both;
      text-edge: cap;
      font-feature-settings: "clig" off, "liga" off;
      @include font($primaryFont, 11, normal, normal, 20);
    }
  }
  .btn-donate {
    color: $white;
    leading-trim: both;
    text-edge: cap;
    background: $primary;
    padding: size(8) size(14);
    @include radius(40);
    @include font($primaryFont, 12, medium, normal, 20);

    @include hover {
      @include setBgColor(darken($primary, 10%), $white);
    }
  }
}
.support-mahfil {
  @include flex-column;
  padding: size(30) size(0);

  .popup-modal {
    @include border(solid, 1, #d6eaff);
    border-left: 0;
    border-right: 0;
    @include radius(0);
  }
  .support-mahfil-text {
    padding: size(16);
    p {
      @include line-clamp;
      color: $textdark;
      @include font($primaryFont, 16, medium, normal, 23);
    }
  }
}
