@use "../global" as *;
@use "../partials" as *;

.donation-hero {
  background: $donateherobg;
  padding: size(80) size(0);
  @include breakpoint(tab992) {
    padding: size(120) size(0);
  }
  position: relative;
  .hero-left {
    @include flex-column;
    gap: size(10);
    text-align: center;
    @include breakpoint(mobile576) {
      text-align: left;
    }
    .welcome {
      @include font($primaryFont, 14, medium, normal, 20);
      color: $black;
      leading-trim: both;
      text-edge: cap;
    }
    .hero-heading {
      color: #002f56;
      @include font($primaryFont, 28, bold, normal, 36);
      @include breakpoint(mobile768) {
        @include font($primaryFont, 36, bold, normal, 46);
      }
      @include breakpoint(tab992) {
        @include font($primaryFont, 42, bold, normal, 50);
      }
      @include breakpoint(desktop1200) {
        @include font($primaryFont, 50, bold, normal, 62);
      }
      @include breakpoint(desktop1600) {
        @include font($primaryFont, 62, bold, normal, 77);
      }
    }
    .hero-des {
      color: $black;
      @include font($primaryFont, 16, normal, normal, 24);
      @include breakpoint(tab992) {
        @include font($primaryFont, 20, normal, normal, 24);
      }
    }
    .hero-buttons {
      @include flex;
      gap: size(12);
      margin-top: size(24);
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: size(30);
      @include breakpoint(mobile768) {
        justify-content: flex-start;
      }
      @include breakpoint(tab992) {
        margin-bottom: 0;
      }
    }
    .watch-btn {
      @include flex;
      padding: size(8) size(10);
      @include radius(5);
      background: #3898fc;
      color: $white;
      align-items: center;
      gap: size(4);
      @include breakpoint(mobile768) {
        padding: size(10) size(15);
      }
    }
    .play-btn {
      padding: 0;
      @include radius(5);
      overflow: hidden;
      @include breakpoint(mobile768) {
      }
      img {
        @include wh100;
      }
    }
  }
  .hero-right {
    @include flex;
    align-items: center;
    justify-content: center;
    padding-left: size(50);
    @include breakpoint(mobile768) {
      padding-left: 0;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      height: 100%;
      background-image: url(../../assets/images/donation/donation-hero2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1; /* Adjust this to control stacking */
      opacity: 0.5; /* Adjust opacity as needed */
      display: none;
      @include breakpoint(tab992) {
        display: block;
      }
    }
  }
}

.howdonation {
  padding: size(24) size(0);
  @include breakpoint(mobile576) {
    padding: size(32) size(0);
  }
  @include breakpoint(tab992) {
    padding: size(60) size(0);
  }

  .howdonation-top {
    @include flex-column;
    gap: size(16);
    align-items: center;
    text-align: center;
    padding-bottom: size(24);
    @include breakpoint(tab992) {
      padding-bottom: size(70);
    }
    .howdonation-title {
      color: #1a191e;
      text-align: center;
      letter-spacing: -1.92px;
      @include font($primaryFont, 32, medium, normal, 42);
      @include breakpoint(mobile576) {
        @include font($primaryFont, 46, medium, normal, 60);
      }
      @include breakpoint(mobile576) {
        @include font($primaryFont, 64, medium, normal, 76);
      }
    }
    .howdonation-des {
      color: #191d23;
      text-align: center;
      @include font($primaryFont, 16, normal, normal, 20);
    }
  }
}
.donate {
  .left-content {
    @include flex-column;
    gap: size(20);
    text-align: center;
    @include breakpoint(mobile576) {
      text-align-last: left;
    }
    p {
      color: #191d23;
      @include font($primaryFont, 16, normal, normal, 20);
      @include breakpoint(mobile576) {
        @include font($primaryFont, 18, normal, normal, 20);
      }
    }
    h1 {
      @include font($primaryFont, 32, medium, normal, 42);
      letter-spacing: -1.92px;
      color: #1a191e;

      @include breakpoint(mobile576) {
        @include font($primaryFont, 46, medium, normal, 60);
      }
      @include breakpoint(mobile576) {
        @include font($primaryFont, 64, medium, normal, 76);
      }
    }
    @include breakpoint(mobile576) {
      gap: size(30);
    }
  }
  .form-step {
    padding: size(38) size(0);
    @include flex-column;
    gap: size(28);
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    @include breakpoint(mobile576) {
      gap: size(28);
    }
    .donation-card {
      // padding: size(30);
      @include border(solid, 1, $menudivider);
      @include radius(14);
      cursor: pointer;
      position: relative;
      transition: transform 0.3s ease-in-out;
      label {
        padding: size(20) size(30);
        z-index: 100;
        h5 {
          color: $primarydark;
          position: relative;
          padding-left: size(20);
          @include font($primaryFont, 14, medium, normal, 20);
          @include breakpoint(mobile576) {
            @include font($primaryFont, 16, medium, normal, 20);
          }
        }
      }

      input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        position: absolute;
        @include radius(16);
        box-shadow: 7px 7px 15px rgba(2, 28, 53, 0.08);
        cursor: pointer;
        outline: none;
        transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
        &::before {
          content: "";
          position: absolute;
          height: 22px;
          width: 22px;
          background-color: #f9fafd;
          border: 1px solid #e2e6f3;
          border-radius: 50%;
          top: 50%;
          transform: translateY(-50%);
          left: 20px;
          transition: background-color 0.3s ease-in-out;
        }
        &::after {
          content: "";
          position: absolute;
          height: 13px;
          width: 13px;
          background-color: transparent;
          border-radius: 50%;
          top: 50%;
          transform: translateY(-50%);
          left: 24.5px;
          transition: background-color 0.3s ease-in-out;
        }
        &:checked {
          border: 2px solid $primarydark;
          &::after {
            background-color: $primarydark;
          }
        }
      }
    }
  }
  .currency {
    @include flex;
    @include border(solid, 1, $menudivider);
    @include radius(16);
    padding: size(0) size(20);
    align-items: center;
    .currency-dropdown {
      border-right: 1px solid $menudivider;
      select {
        color: #170f49;
        font-feature-settings: "clig" off, "liga" off;
        @include font($primaryFont, 16, medium, normal, 20);
        @include breakpoint(mobile576) {
          @include font($primaryFont, 18, medium, normal, 20);
        }
      }
    }
    input {
      padding: size(16) size(10);
      @include w100;
    }
  }

  .form-step-top {
    @include flex-column;
    gap: size(16);
    justify-content: center;
    align-items: center;
    .title {
      color: #004d8d;
      font-feature-settings: "clig" off, "liga" off;
      @include font($primaryFont, 16, medium, normal, 30);
      @include breakpoint(mobile576) {
        @include font($primaryFont, 18, medium, normal, 30);
      }
    }
    .value {
      color: #170f49;
      font-feature-settings: "clig" off, "liga" off;
      @include font($primaryFont, 16, medium, normal, 20);
      @include breakpoint(mobile576) {
        @include font($primaryFont, 16, medium, normal, 20);
      }
    }
  }
  .input-group {
    @include flex-column;
    gap: size(14);

    label {
      color: #6f6c90;
      font-feature-settings: "clig" off, "liga" off;
      @include font($primaryFont, 16, normal, normal, 30);
      @include breakpoint(mobile576) {
        @include font($primaryFont, 18, normal, normal, 30);
      }
    }
    textarea {
      @include border(solid, 1, $menudivider);
      height: size(197);
      padding: size(16) size(20);
      border-radius: 16px !important;
    }
  }
  .radio-group {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .select-text {
      color: #6f6c90;
      font-feature-settings: "clig" off, "liga" off;
      font: 16px normal $primaryFont;

      span {
        color: #004d8d;
        font-weight: 600;
      }
    }

    .single-payment {
      label {
        border: 1px solid $menudivider;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 24px;
        border-radius: 16px;
        gap: size(24);
        cursor: pointer;
      }

      input[type="radio"]:checked + label {
        border: 2px solid $primarydark;
      }
    }
  }
  .donation-status {
    @include flex-column;
    align-items: center;
    text-align: center;
    gap: size(20);
    .icon {
    }
    .title {
      color: #170f49;
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;
      @include font($primaryFont, 20, bold, normal, 30);
      @include breakpoint(mobile576) {
        @include font($primaryFont, 24, bold, normal, 34);
      }
    }
    .text {
      color: var(--neutral-600, #6f6c90);
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;
      @include font($primaryFont, 18, normal, normal, 30);

      @include breakpoint(mobile576) {
        @include font($primaryFont, 16, normal, normal, 30);
      }
    }
  }
  .support {
    text-align: right;
    color: #141b34;
    font-feature-settings: "clig" off, "liga" off;
    @include font($primaryFont, 16, medium, normal, 30);
    @include breakpoint(mobile576) {
      @include font($primaryFont, 18, medium, normal, 30);
    }
  }
}

.donate .multistep-form {
  @include border(solid, 1, #e7eaee);
  @include radius(24);
  padding: size(18);
  @include breakpoint(mobile576) {
    padding: size(32) size(46);
    @include radius(34);
  }

  .next-prev {
    @include flex-between;
    align-items: center;
    button {
      padding: size(12) size(30);
      @include radius(10);
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;
      @include font($primaryFont, 16, bold, normal, 20);
    }
    .prev-step {
      @include border(solid, 1, $primarydark);
      color: $primarydark;
      @include hover {
        background: $primarydark;
        color: $white;
      }
    }
    .next-step {
      background-color: $primarydark;
      color: $white;
      @include border(solid, 1, $primarydark);
      @include hover {
        @include setBgColor($white, $primarydark);
      }
    }
  }
}

// video
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (divide 9 by 16 = 0.5625 or 56.25%) */

  .video-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .vjs-big-play-button {
    &:before {
      content: "";
      // display: none;
    }

    &:hover {
      background-color: transparent;
      opacity: 0.7;
    }
  }
}

.faq {
  padding: size(50) size(0);
  padding-bottom: size(80);
  @include breakpoint(tab992) {
    padding-bottom: size(120);
  }
  .left-content {
    display: flex;
    flex-direction: column;
    @include h100;
    justify-content: center;
    text-align: center;
    gap: size(30);
    @include breakpoint(mobile576) {
      text-align: left;
    }
    h1 {
      color: #1a191e;
      letter-spacing: -1.92px;
      @include font($primaryFont, 32, medium, normal, 42);

      @include breakpoint(mobile576) {
        @include font($primaryFont, 46, medium, normal, 60);
      }
      @include breakpoint(mobile576) {
        @include font($primaryFont, 64, medium, normal, 76);
      }
    }
    p {
      color: #004d8d;
      @include font($primaryFont, 16, normal, normal, 16);
      @include breakpoint(mobile576) {
        @include font($primaryFont, 18, normal, normal, 18);
      }
    }
  }
  #faqAccordion {
    .accordion-item {
      margin-bottom: 10px;
      border-right: none;
      border-left: none;
      border-radius: 0 !important;
      .accordion-header {
        cursor: pointer;
        button {
          width: 100%;
          text-align: left;
          padding: 10px;
          background-color: transparent;
          border: none;
          outline: none;
          padding: size(24) size(0);
          color: #1a191e;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          letter-spacing: -0.6px;
          padding-right: size(20);
          @include breakpoint(mobile576) {
            font-size: size(18);
          }

          &:hover {
          }
          &::after {
            content: "";
            font-weight: 900;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23004D8D" d="M12 10.5857L16.95 5.63574L18.364 7.04974L13.414 11.9997L18.364 16.9497L16.95 18.3637L12 13.4137L7.04999 18.3637L5.63599 16.9497L10.586 11.9997L5.63599 7.04974L7.04999 5.63574L12 10.5857Z"/></svg>');
          }

          &.collapsed::after {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23004D8D" d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"/></svg>');

            transform: translateY(-50%) rotate(90deg); /* Adjust rotation for the down arrow */
          }
        }

        &.collapsed {
          /* Styles for collapsed headers */
          background-color: #ddd; /* Example background color for collapsed headers */
        }
      }

      .accordion-collapse {
        /* Collapse container styles */
        transition: height 0.3s ease-in-out; /* Example transition for smooth animation */
        overflow: hidden;

        &.show {
          /* Styles for the shown/collapsed content */
          height: auto; /* Show content */
        }

        .accordion-body {
          /* Body content styles */
          padding: 10px;
        }
      }
    }
  }
}

.footer {
  position: relative;
  padding: size(26) size(10);

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 1px;
    width: 96%;
    background-color: #e7eaee;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer-content {
    p {
      color: #718096;

      text-align: center;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Hind Siliguri;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      @include font($primaryFont, 16, medium, normal, 20);
    }
  }
}
.step-section {
  @include flex;
  gap: size(18);
  position: relative;
  padding: size(20) size(0);

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #e7eaee;
    bottom: 0;
    border-radius: 40px;
  }
}
.step {
  @include flex;
  align-items: center;
  gap: size(12);
  @include breakpoint(mobile576) {
    gap: size(18);
  }

  &.active {
    .number {
      background: #004d8d;
      color: $white;
    }
    .line {
      &::after {
        background-color: #004d8d;
      }
    }
  }
  &.completed {
    .number {
      background: #004d8d;
      color: $white;
    }
    .line {
      &::after {
        background-color: #004d8d;
        width: 100%;
      }
    }
  }
  .number {
    @include square(24);
    @include flex-center;
    background: #eff0f6;
    @include circle;
    font-feature-settings: "clig" off, "liga" off;
    color: #6f6c90;
    @include font($primaryFont, 14, normal, normal, 23);
    @include breakpoint(mobile576) {
      @include square(34);
      font-size: 16px;
    }
  }
  .line {
    width: size(40);
    gap: size(12);
    height: size(6);
    background: #eff0f6;
    @include radius(40);
    position: relative;
    @include breakpoint(mobile375) {
      width: size(45);
    }
    @include breakpoint(mobile414) {
      width: size(60);
    }
    @include breakpoint(mobile576) {
      width: size(70);
      gap: size(18);
    }

    @include breakpoint(mobile768) {
      width: size(90);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: transparent;
      @include radius(40);
    }
  }
}
