@use "../global" as *;
@use "../partials" as *;

.favorites {
  @include flex-column;
  gap: size(20);
  padding: size(0) size(0) size(64);

  @include breakpoint(mobile576) {
    padding: size(0) size(24) size(64);
  }

  @include breakpoint(mobile768) {
    padding: size(0) size(24) size(80);
  }

  @include breakpoint(tab992) {
    padding: size(0);
  }

  &-header {
    @include flex-column;
    gap: size(16);
    padding-inline: size(14);

    @include breakpoint(tab992) {
      padding-inline: size(0);
    }

    .favorites-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    @include w100;
    
    .emptyfavorites {
      @include flex-center-column;
      gap: size(24);
      max-width: size(310);
      margin-inline: auto;
      padding: size(44) size(0) size(64);

      .favoriteicon {
        width: size(150);
        height: size(178);
        @include flex-column;
        overflow: hidden;
      }

      .info {
        @include flex-center-column;
        text-align: center;

        .text {
          font-weight: 500;
        }
      }
    }

    .favoriteslist {
      @include flex-column;
      gap: size(12);
      @include w100;
    }

    .rightinfo {
      @include flex-column;
      gap: size(32);
      padding-inline: size(14);
      
      @include breakpoint(mobile768) {
        flex-direction: row;
      }
      
      @include breakpoint(tab992) {
        flex-direction: column;
        padding-inline: size(0);
      }

      .row {
        @include breakpoint(mobile768) {
          width: 50%;
          order: 1;
        }

        @include breakpoint(tab992) {
          width: auto;
          order: 0;
        }
      }

      .descriptions {
        @include flex-column;
        gap: size(24);
        padding-inline: size(14);
        
        @include breakpoint(mobile768) {
          width: 50%;
          order: 0;
        }
        
        @include breakpoint(tab992) {
          padding-inline: size(0);
          width: auto;
          order: 1;
        }
      }
    }
  }
}

.reminderthumb {
  @include radius(20);
  @include flex-center;
  overflow: hidden;

  @include breakpoint(mobile768) {
    @include w100;
    max-width: size(164);
    height: size(274);
  }

  @include breakpoint(tab992) {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  img {
    @include wh100;
  }
}
