@use "../global" as *;
@use "../partials" as *;

.favorites {
  @include flex-column;
  gap: size(20);
  padding: size(0) size(14) size(64);

  @include breakpoint(mobile768) {
    padding: size(0) size(24) size(80);
  }

  @include breakpoint(tab992) {
    padding: size(0);
  }

  &-header {
    @include flex-column;
    gap: size(16);

    .favorites-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    .emptyfavorites {
      @include flex-center-column;
      gap: size(24);
      max-width: size(310);
      margin-inline: auto;
      padding: size(44) size(0) size(64);

      .favoriteicon {
        width: size(150);
        height: size(178);
        @include flex-column;
        overflow: hidden;
      }

      .info {
        @include flex-center-column;
        text-align: center;

        .text {
          font-weight: 500;
        }
      }
    }

    .favoriteslist {
      @include flex-column;
      gap: size(12);
    }

    .rightinfo {
      @include flex-column;
      gap: size(32);

      .descriptions {
        @include flex-column;
        gap: size(24);
      }
    }
  }
}

.reminderthumb {
  @include radius(20);
  @include flex-center;
  overflow: hidden;

  img {
    @include wh100;
  }
}
