@use '../global' as *;
@use '../partials' as *;

.favorites {
  @include flex-column;
  gap: size(20);
  padding-bottom: size(80);

  &-header {
    @include flex-column;
    gap: size(16);

    .favorites-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    .emptyfavorites {
      @include flex-center-column;
      gap: size(24);
      max-width: size(310);
      margin-inline: auto;
      padding: size(44) size(0) size(64);

      .favoriteicon {
        width: size(150);
        height: size(178);
        @include flex-column;
        overflow: hidden;
      }

      .info {
        @include flex-center-column;
        text-align: center;

        .text {
          font-weight: 500;
        }
      }
    }

    .rightinfo {
      @include flex-column;
      gap: size(32);
      
      .descriptions {
        @include flex-column;
        gap: size(24);
      }
    }
  }
}