@use "../global" as *;
@use "../partials" as *;

.homevideos {
  @include flex-center-vert;
  gap: size(30) size(14);
  flex-wrap: wrap;
  padding: size(0) size(0) size(50);

  .cardvideo {
    @include w100;

    @include breakpoint(mobile576) {
      width: calc((100% / 2) - size(14));
    }

    @include breakpoint(desktop1200) {
      width: calc((100% / 3) - size(14));
    }

    @include breakpoint(desktop1367) {
      width: calc((100% / 4) - size(14));
    }

    @include breakpoint(desktop1900) {
      width: calc((100% / 5) - size(14));
    }

    .offcanvas {
      min-height: size(280);
      height: size(280);
      max-height: size(280);
      @include double-radius(top, left, 16, top, right, 16);
      overflow: hidden;
      padding-top: size(14);

      &-header {
        @include flex-center;
        overflow: hidden;
        padding: size(14) size(0) size(24);

        .icon {
          width: size(41);
          height: size(4);
          @include flex-center;
          overflow: hidden;
        }
      }

      &-body {
        .dropdownlist {
          border: none;
          box-shadow: none;
          @include w100;
          @include radius(0);

          &-link {
            padding: size(10) size(30);

            .droplinkicon {
              @include square(24);
              @include flex-center;
              overflow: hidden;
            }

            .droplinktext {
              color: $textdark;
              font-weight: 500;
            }

            @include hover {
              background: $linkhoverbg;
            }
          }
        }
      }
    }
  }
}

.popularchannel {
  @include flex-column;
  gap: size(20);
  padding: size(24) size(8) size(50);

  @include breakpoint(mobile576) {
    padding: size(24) size(24) size(50);
  }

  @include breakpoint(tab992) {
    padding: size(0) size(24) size(50);
  }

  &-header {
    @include flex-column;
    gap: size(16);
    padding-inline: size(16);

    @include breakpoint(mobile576) {
      padding-inline: size(0);
    }

    .popular-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    .swiper {
      &-button-next,
      &-button-prev {
        background: $white;
        filter: $arrowshadow;
        @include circle;
        @include square(44);
        @include flex-center;
        overflow: hidden;
        padding: size(10);
        opacity: 0;
        visibility: hidden;
        @include transitionsall;

        &::after {
          content: "";
          @include square(0);
          margin: 0;
          display: none;
        }
      }

      &-button-next {
        right: size(0);
      }

      &-button-prev {
        left: size(0);
      }

      @include hover {
        .swiper-button-next,
        .swiper-button-prev {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.trendingvideos {
  @include flex-column;
  gap: size(20);
  padding: size(0) size(0) size(90);

  &-header {
    @include flex-column;
    gap: size(16);
    padding-inline: size(14);

    @include breakpoint(tab992) {
      padding-inline: size(0);
    }

    .trending-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    padding-inline: size(0);

    @include breakpoint(mobile576) {
      padding-inline: size(14);
    }

    @include breakpoint(tab992) {
      padding-inline: size(0);
    }
  }
}

.homeslider {
  margin-top: size(-34);
  position: relative;
  // padding: 0 size(0) size(32);

  @include breakpoint(mobile768) {
    // padding: size(0) size(0) size(64);
  }

  @include breakpoint(tab992) {
    padding: size(0);
  }

  .swiper {
    padding-bottom: size(24);
  }

  .swiper-pagination {
    @include flex-center;
    gap: size(5);

    .swiper-pagination-bullet {
      margin: 0;
      background: $bulletbg;
      @include square(8);
      @include circle;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      width: size(24);
      height: size(8);
      background: $primary;
      @include radius(20);
    }
  }
}

.prayer-reminder {
  background: $primarydark;
  @include radius(12);
  width: 95%;
  margin: 0 auto size(32);
  @include flex-column;

  &-header {
    @include flex;
    gap: size(40);
    padding: size(16) size(16) size(20) size(48);

    .leftcontent {
      @include flex-column;

      .waqtname {
        color: $white;
        font-family: $clashDisplay;
        font-size: size(24);
        font-weight: 600;
      }

      .waqttitle {
        color: $white;
        font-family: $clashDisplay;
        font-size: size(12);
        font-weight: 600;
      }

      .waqttime {
        color: $white;
        font-size: size(12);
        font-weight: 500;
        letter-spacing: size(-0.24);
      }
    }

    .rightcontent {
      @include flex-column;
      gap: size(4);

      .title {
        color: $white;
        font-size: size(10);
        font-style: normal;
        font-weight: 500;
      }

      .waqttitle {
        color: $white;
        font-family: $clashDisplay;
        font-size: size(24);
        font-weight: 600;
      }

      .timer {
        @include flex;
        gap: size(8);

        .timerbox {
          background: $white;
          @include radius(6);
          @include flex-center-column;
          padding: size(4) size(8);
          @include square(44);

          .time {
            color: $dropdowntext;
            font-size: size(14);
            font-weight: 700;
          }

          .timetitle {
            color: $timetext;
            font-size: size(10);
            font-weight: 700;
          }
        }
      }
    }
  }

  &-body {
    @include border-single(top, solid, 1, $white);
    @include flex-center;
    padding: size(8);

    .remindlink {
      @include flex-center;
      gap: size(8);

      .text {
        color: $white;
        font-size: size(12);
        font-style: normal;
        font-weight: 500;
      }

      .icon {
        @include square(12);
        @include flex-center;
        overflow: hidden;
      }
    }
  }
}

.nextprayer {
  background: $primarydark;
  @include radius(12);
  width: 95%;
  margin: 0 auto size(32);
  @include flex-column;
  padding: size(16) size(0) size(20);

  &-title {
    color: $white;
    font-family: $primaryFont;
    font-size: size(12);
    font-weight: 600;
    padding-left: size(16);
  }

  &-content {
    @include flex-column;
    padding-bottom: size(8);

    .waqttitle {
      color: $white;
      // font-family: $clashDisplay;
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    @include border-single(top, solid, 1, $white);
    @include flex-center;
    padding: size(8);

    .remindlink {
      @include flex-center;
      gap: size(8);

      .text {
        color: $white;
        font-size: size(12);
        font-style: normal;
        font-weight: 500;
      }

      .icon {
        @include square(12);
        @include flex-center;
        overflow: hidden;
      }
    }
  }
}
