@use '../global' as *;
@use '../partials' as *;

.homevideos {
  @include flex-center-vert;
  gap: size(30) size(14);
  flex-wrap: wrap;
  padding-bottom: size(64);

  .cardvideo {
    @include w100;

    @include breakpoint(mobile576) {
      width: calc((100% / 2) - size(14));
    }

    @include breakpoint(mobile768) {
      width: calc((100% / 3) - size(14));
    }

    @include breakpoint(tab992) {
      width: calc((100% / 2) - size(14));
    }

    @include breakpoint(desktop1200) {
      width: calc((100% / 3) - size(14));
    }

    @include breakpoint(desktop1367) {
      width: calc((100% / 4) - size(14));
    }

    @include breakpoint(desktop1600) {
      width: calc((100% / 5) - size(14));
    }
  }
}

.popularchannel {
  @include flex-column;
  gap: size(20);
  padding-bottom: size(80);

  &-header {
    @include flex-column;
    gap: size(16);

    .popular-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    .swiper {
      &-button-next,
      &-button-prev {
        background: $white;
        @include circle;
        @include square(44);
        @include flex-center;
        overflow: hidden;
        padding: size(10);
        @include transitionsall;

        @include hover {
          filter: $arrowshadow;
        }

        &::after {
          content: '';
          @include square(0);
          margin: 0;
          display: none;
        }
      }

      &-button-next {
        right: size(0);
      }

      &-button-prev {
        left: size(0);
      }
    }
  }
}

.trendingvideos {
  @include flex-column;
  gap: size(20);
  padding-bottom: size(80);

  &-header {
    @include flex-column;
    gap: size(16);

    .trending-title {
      font-size: size(20);
      font-weight: 600;
    }
  }
}