@use "../global" as *;
@use "../partials" as *;

.salatreminder {
  @include flex-column;
  gap: size(20);
  padding: size(0) size(14) size(64);

  @include breakpoint(mobile768) {
    padding: size(0) size(24) size(80);
  }

  @include breakpoint(tab992) {
    padding: size(0) size(0) size(80);
  }

  &-header {
    background: $white;
    @include flex-column;
    gap: size(16);
    position: sticky;
    top: 0;

    .reminder-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    .leftcontent {
      @include flex-column;
      gap: size(24);

      .topinfo {
        max-width: size(730);

        .datetitle {
          color: $dropdowntext;
          font-size: size(18);
          font-weight: 700;
        }

        .date {
          color: $textprimary;
          font-size: size(15);
        }

        .location {
          @include flex-center-vert;
          gap: size(8);

          .locicon {
            @include square(20);
            @include flex-center;
            overflow: hidden;
          }

          .locname {
            color: $dropdowntext;
            font-size: size(18);
            font-weight: 600;
          }
        }

        .btn-refresh {
          @include square(26);
          @include flex-center;
          overflow: hidden;

          @include hover {
            svg {
              path {
                stroke: $primary;
              }
            }
          }
        }
      }

      .downinfo {
        @include flex-column;
        gap: size(24);

        .salatremind {
          background: $linkhoverbg;
          @include radius(10);
          padding: size(14);
          max-width: size(730);

          @include breakpoint(mobile768) {
            padding: size(24);
          }

          .waqtname {
            color: $headingtext;
            font-size: size(24);
            font-weight: 600;
            margin-bottom: size(8);
          }

          .waqtduration {
            color: $headingtext;
            font-size: size(10);
            font-weight: 500;

            @include breakpoint(desktop1100) {
              font-size: size(12);
            }

            @include breakpoint(desktop1400) {
              font-size: size(16);
            }
          }

          .upcomingprayer {
            color: $headingtext;
            font-size: size(14);
            font-weight: 500;

            @include breakpoint(desktop1400) {
              font-size: size(16);
            }
          }

          .remaining {
            @include flex-column;
            gap: size(12);

            @include breakpoint(desktop1400) {
              gap: size(24);
            }

            &-title {
              color: $headingtext;
              font-size: size(11);
              font-weight: 500;

              @include breakpoint(desktop1200) {
                font-size: size(13);
              }

              @include breakpoint(desktop1400) {
                font-size: size(16);
              }
            }

            .progress {
              background: $white;
              @include radius(48);
              height: size(6);

              &-bar {
                background: $primary;
                @include radius(48);
              }
            }
          }

          .clock {
            @include flex;
            gap: size(10);

            @include breakpoint(desktop1400) {
              gap: size(20);
            }

            .divide {
              color: $dropdowntext;
              font-size: size(20);
              font-weight: 700;
              @include flex-center-vert;
              align-items: flex-start;
              height: size(40);

              @include breakpoint(desktop1200) {
                font-size: size(24);
              }

              @include breakpoint(desktop1400) {
                font-size: size(27);
              }
            }

            .hours,
            .minutes,
            .seconds {
              @include flex-center-column;
              gap: size(5);
              text-align: center;

              .time {
                color: $dropdowntext;
                font-size: size(20);
                font-weight: 700;

                @include breakpoint(desktop1200) {
                  font-size: size(24);
                }

                @include breakpoint(desktop1400) {
                  font-size: size(27);
                }
              }

              .title {
                color: $timetext;
                font-size: size(12);
                font-weight: 500;

                @include breakpoint(desktop1200) {
                  font-size: size(14);
                }

                @include breakpoint(desktop1400) {
                  font-size: size(16);
                }
              }
            }
          }
        }

        .salatlist {
          @include flex-column;
          gap: size(48);

          @include breakpoint(mobile768) {
            max-width: size(320);
          }

          &-header {
            @include flex-center-between;

            .title {
              color: $headingtext;
              font-size: size(16);
              font-weight: 600;
              width: calc(100% - size(64));
            }

            .switchbox {
              width: size(64);
              @include flex-center;
            }
          }

          &-body {
            @include flex-column;
            gap: size(24);

            .salatinfo {
              @include flex-center-between;

              .salatwaqt {
                width: calc(100% - size(64));

                .waqtname {
                  color: $headingtext;
                  font-size: size(14);
                  font-weight: 600;

                  @include breakpoint(desktop1400) {
                    font-size: size(16);
                  }
                }

                .waqtduration {
                  color: $textprimary;
                  font-size: size(12);
                  font-weight: 500;

                  @include breakpoint(desktop1400) {
                    font-size: size(14);
                  }
                }
              }

              .switchbox {
                width: size(64);
                @include flex-center;
              }
            }
          }
        }
      }
    }

    .rightinfo {
      @include flex-column;
      gap: size(32);

      @include breakpoint(mobile768) {
        flex-direction: row;
      }

      @include breakpoint(tab992) {
        flex-direction: column;
      }

      .row {
        @include breakpoint(mobile768) {
          width: 50%;
          order: 1;
        }

        @include breakpoint(tab992) {
          width: auto;
          order: 0;
        }
      }

      .descriptions {
        @include flex-column;
        gap: size(24);

        @include breakpoint(mobile768) {
          width: 50%;
          order: 0;
        }

        @include breakpoint(tab992) {
          width: auto;
          order: 1;
        }
      }
    }
  }
}

.mobsaltreminder {
  @include flex-column;
  gap: size(24);
  padding: size(20) size(14) size(96);

  &-header {
    @include flex-column;
    gap: size(24);

    .start-title {
      color: $dropdowntext;
      // font-family: $clashDisplay;
      font-size: size(16);
      font-weight: 600;
    }

    .location {
      @include flex-center-vert;
      gap: size(8);

      .locicon {
        @include square(16);
        @include flex-center;
        overflow: hidden;
      }

      .locname {
        color: $dropdowntext;
        font-size: size(13);
        font-weight: 600;
      }
    }

    .btn-refresh {
      @include square(24);
      @include flex-center;
      overflow: hidden;
      padding: 0;

      @include hover {
        svg {
          path {
            fill: $primary;
            stroke: none;
          }
        }
      }
    }

    .arbidate {
      color: $dropdowntext;
      font-size: size(16);
      font-weight: 700;
    }

    .engdate {
      color: $textprimary;
      font-size: size(13);
      font-weight: 500;
    }

    .remindbox {
      @include flex-center-column;
      gap: size(4);
      text-align: center;

      .remindtitle {
        color: $dropdowntext;
        font-size: size(14);
        font-weight: 700;
      }
    }
  }

  &-body {
    .remaining {
      background: $primarydark;
      @include radius(10);
      @include flex-column;
      gap: size(16);
      padding: size(24);
      overflow: hidden;

      &-header {
        .waqt {
          color: $white;
          // font-family: $clashDisplay;
          font-size: size(24);
          font-weight: 600;
        }
      }
      
      &-body {
        @include flex-column;
        gap: size(8);

        .remainingtitle {
          color: $white;
          font-size: size(11);
          font-weight: 500;
          letter-spacing: size(-0.2);
        }

        .progress {
          @include w100;
          height: size(4);
          @include radius(48);

          &-bar {
            background: $primary;
          }
        }

        .timebox {
          background: $white;
          @include flex-center-column;
          gap: size(0);
          @include radius(4);
          text-align: center;
          padding: size(8);

          .time {
            color: $dropdowntext;
            font-size: size(14);
            font-weight: 700;
          }

          .title {
            color: $timetext;
            font-size: size(11);
            font-weight: 400;
          }
        }
      }
    }
  }
  
  &-footer {
    .waqtlist {
      background: $white;
      @include radius(12);
      @include list-vertical;
      overflow: hidden;

      &-item {
        background: $white;
        @include border-single(bottom, solid, 1, $searchborder);
        @include flex-center-between;
        align-items: flex-start;
        padding: size(8) size(24);

        .leftinfo {
          @include flex-column;

          .title {
            color: $labelcolor;
            font-size: size(16);
            font-weight: 600;
          }

          .timedurations {
            color: $labelcolor;
            font-size: size(12);
            font-weight: 500;
          }
        }

        &.active {
          background: $primarydark;

          .leftinfo {
            .title,
            .timedurations {
              color: $white;
            }
          }
        }
      }
    }

    .toggle-switch > :checked + label::before, :checked + .toggle-switch-label::before {
      background: $primary;
      border-color: $primary;
    }
    
    .toggle-switch > :checked + label::after, :checked + .toggle-switch-label::after {
      background: $primary;
      border-color: $primary;
    }
  }
}