@use "../global" as *;
@use "../partials" as *;

.salatreminder {
  @include flex-column;
  gap: size(20);
  padding: size(0) size(14) size(64);

  @include breakpoint(mobile768) {
    padding: size(0) size(24) size(80);
  }

  @include breakpoint(tab992) {
    padding: size(0) size(0) size(0);
  }

  &-header {
    @include flex-column;
    gap: size(16);

    .reminder-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    .leftcontent {
      @include flex-column;
      gap: size(24);

      .topinfo {
        .datetitle {
          color: $dropdowntext;
          font-size: size(18);
          font-weight: 700;
        }

        .date {
          color: $textprimary;
          font-size: size(15);
        }

        .location {
          @include flex-center-vert;
          gap: size(8);

          .locicon {
            @include square(20);
            @include flex-center;
            overflow: hidden;
          }

          .locname {
            color: $dropdowntext;
            font-size: size(18);
            font-weight: 600;
          }
        }

        .btn-refresh {
          @include square(20);
          @include flex-center;
          overflow: hidden;

          @include hover {
            svg {
              path {
                stroke: $primary;
              }
            }
          }
        }
      }

      .downinfo {
        @include flex-column;
        gap: size(24);

        .salatremind {
          background: $linkhoverbg;
          @include radius(10);
          padding: size(14);
          max-width: size(730);

          @include breakpoint(mobile768) {
            padding: size(24);
          }

          .waqtname {
            color: $headingtext;
            font-size: size(24);
            font-weight: 600;
            margin-bottom: size(8);
          }

          .waqtduration {
            color: $headingtext;
            font-size: size(12);
            font-weight: 500;

            @include breakpoint(desktop1400) {
              font-size: size(16);
            }
          }

          .upcomingprayer {
            color: $headingtext;
            font-size: size(14);
            font-weight: 500;

            @include breakpoint(desktop1400) {
              font-size: size(16);
            }
          }

          .remaining {
            @include flex-column;
            gap: size(24);

            &-title {
              color: $headingtext;
              font-size: size(16);
              font-weight: 500;
            }

            .progress {
              background: $white;
              @include radius(48);
              height: size(6);

              &-bar {
                background: $primary;
                @include radius(48);
              }
            }
          }

          .clock {
            @include flex;
            gap: size(10);

            @include breakpoint(desktop1400) {
              gap: size(20);
            }

            .divide {
              color: $dropdowntext;
              font-size: size(27);
              font-weight: 700;
              @include flex-center-vert;
              height: size(40);
            }

            .hours,
            .minutes,
            .seconds {
              @include flex-center-column;
              gap: size(5);
              text-align: center;

              .time {
                color: $dropdowntext;
                font-size: size(24);
                font-weight: 700;

                @include breakpoint(desktop1400) {
                  font-size: size(27);
                }
              }

              .title {
                color: $timetext;
                font-size: size(14);
                font-weight: 500;

                @include breakpoint(desktop1400) {
                  font-size: size(16);
                }
              }
            }
          }
        }

        .salatlist {
          @include flex-column;
          gap: size(48);

          @include breakpoint(mobile768) {
            max-width: size(320);
          }

          &-header {
            @include flex-center-between;

            .title {
              color: $headingtext;
              font-size: size(16);
              font-weight: 600;
              width: calc(100% - size(64));
            }

            .switchbox {
              width: size(64);
              @include flex-center;
            }
          }

          &-body {
            @include flex-column;
            gap: size(24);

            .salatinfo {
              @include flex-center-between;

              .salatwaqt {
                width: calc(100% - size(64));

                .waqtname {
                  color: $headingtext;
                  font-size: size(14);
                  font-weight: 600;

                  @include breakpoint(desktop1400) {
                    font-size: size(16);
                  }
                }

                .waqtduration {
                  color: $textprimary;
                  font-size: size(12);
                  font-weight: 500;

                  @include breakpoint(desktop1400) {
                    font-size: size(14);
                  }
                }
              }

              .switchbox {
                width: size(64);
                @include flex-center;
              }
            }
          }
        }
      }
    }

    .rightinfo {
      @include flex-center-vert;
      gap: size(32);

      @include breakpoint(tab992) {
        flex-direction: column;
      }

      .row {
        width: 50%;
        order: 1;

        @include breakpoint(tab992) {
          width: auto;
          order: 0;
        }
      }

      .descriptions {
        @include flex-column;
        gap: size(24);
        width: 50%;
        order: 0;

        @include breakpoint(tab992) {
          width: auto;
          order: 1;
        }
      }
    }
  }
}

.mobilesalatreminder {
  background: $searchborder;
  @include flex-column;
  gap: size(48);
  padding: size(20) size(14) size(64);
  min-height: 100vh;

  @include breakpoint(mobile768) {
    padding: size(20) size(24) size(80);
  }

  .salattitle {
    color: $dropdowntext;
    font-family: $clashDisplay;
    font-size: size(16);
    font-weight: 600;
    margin-left: size(32);
  }

  .locationicon {
    @include square(16);
    @include flex-center;
    overflow: hidden;
  }

  .location {
    color: $dropdowntext;
    font-size: size(14);
    font-weight: 600;
  }

  &-header {
    @include flex-column;
    gap: size(36);

    .downcontent {
      @include flex-center-column;
      gap: size(12);
      text-align: center;

      .arbidate {
        color: $dropdowntext;
        font-size: size(18);
        font-weight: 700;
      }

      .engdate {
        color: $textprimary;
        font-size: size(16);
        font-weight: 500;
      }
    }
  }

  &-body {
    background: $primarydark;
    @include radius(12);
    overflow: hidden;

    .salat-time {
      @include flex-center-column;
      align-items: flex-start;
      gap: size(8);
      padding-inline: size(8);

      @include breakpoint(mobile576) {
        padding-inline: size(16);
      }

      .waqtname {
        color: $white;
        font-family: $clashDisplay;
        font-size: size(24);
        font-weight: 600;
      }

      .remainingend {
        @include flex-column;
        gap: size(8);

        &-header {
          @include flex-column;
          gap: size(4);

          .remainingtitle {
            color: $white;
            font-size: size(10);
            font-weight: 500;
            letter-spacing: size(-0.2);
          }

          .progress {
            background: $progressbackground;
            @include radius(48);
            height: size(4);

            &-bar {
              background: $primary;
              @include radius(48);
            }
          }
        }

        &-body {
          @include flex-center-vert;
          gap: size(8);

          .timebox {
            @include square(44);
            background: $white;
            @include radius(6);
            @include flex-center-column;
            gap: size(4);
            text-align: center;
            padding: size(8);

            .time {
              color: $dropdowntext;
              font-size: size(12);
              font-weight: 700;
            }

            .title {
              color: $timetext;
              font-size: size(10);
              font-weight: 500;
            }
          }
        }
      }
    }

    .salatlist {
      @include flex-column;
      background: $white;

      .waqtbox {
        .waqtinput {
          &:checked ~ .waqtlabel {
            background: $primarydark;
            border-color: $primarydark;

            .waqtname,
            .waqttime {
              color: $white;
            }
          }
        }

        .waqtlabel {
          background: $white;
          @include border-single(bottom, solid, 1, $searchborder);
          @include flex-column;
          padding: size(8) size(24);

          .waqtname {
            color: $labelcolor;
            font-size: size(14);
            font-weight: 600;
          }

          .waqttime {
            color: $labelcolor;
            font-size: size(12);
            font-weight: 400;
          }
        }

        &:last-of-type {
          .waqtlabel {
            border-bottom: size(0);
          }
        }
      }
    }
  }
}
