@use "../global" as *;
@use "../partials" as *;

.popularsearch {
  @include flex-column;
  gap: size(20);
  padding: size(20) size(14) size(64);

  @include breakpoint(mobile768) {
    padding: size(20) size(24) size(80);
  }

  @include breakpoint(tab992) {
    padding: size(20) size(0) size(0);
  }

  &-header {
    .popularsearch-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    @include flex-center-vert;
    gap: size(8);
    flex-wrap: wrap;
  }
}

.videoschannels {
  padding: size(0) size(14) size(64);

  @include breakpoint(mobile768) {
    padding: size(0) size(24) size(80);
  }

  @include breakpoint(tab992) {
    padding: size(0) size(0) size(160);
  }

  .emptysubscribed {
    @include flex-center-column;
    gap: size(24);
    max-width: size(310);
    margin-inline: auto;
    padding: size(44) size(0) size(64);

    .subscribedicon {
      width: size(187);
      height: size(150);
      @include flex-column;
      overflow: hidden;
    }

    .info {
      @include flex-center-column;
      text-align: center;

      .text {
        font-weight: 500;
      }
    }
  }

  .subscribedlist {
    @include flex-column;
    gap: size(40);
  }

  .videoslist {
    @include flex-column;
    gap: size(16);
  }

  .nav-tabs {
    border-color: $menudivider;
    margin-bottom: size(16);

    .nav-link {
      color: $textprimary;
      font-size: size(16);
      font-weight: 600;
      margin-bottom: 0;
      padding: size(16) size(24);
      border: none;
      @include border-single(bottom, solid, 4, transparent);

      &.active {
        color: $headingtext;
        border-color: $primary;
      }

      &:hover:not(.active) {
        color: $headingtext;
      }
    }
  }
}

.searchresults {
  // background: $modalbg;
  @include flex-column;
  gap: size(24);
  padding: size(20) size(14) size(64);
  min-height: 100vh;

  @include breakpoint(mobile768) {
    padding: size(20) size(24) size(80);
  }

  @include breakpoint(tab992) {
    padding: size(20) size(24) size(80);
  }

  &-header {
    @include flex-center-vert;
    gap: size(16);

    .btn-back {
      @include square(24);
      @include flex-center;
      overflow: hidden;
    }

    .searchbox {
      background: $white;
      @include border(solid, 1, $searchborder);
      @include radius(4);
      @include flex-center-vert;
      gap: size(16);
      padding-right: size(16);
      width: calc(100% - size(40));
      @include transitionsall;

      .searchfield {
        background: transparent;
        color: $textdark;
        border: none;
        padding: size(11.25) size(16);
        font-size: size(15);
        font-weight: 400;
        width: calc(100% - size(40));

        &::placeholder {
          color: $textplaceholder;
        }
      }

      .btn-search {
        @include square(24);
        @include flex-center;
        overflow: hidden;

        svg {
          path {
            @include transitionsall;
          }
        }

        @include hover {
          svg {
            path {
              fill: $primary;
            }
          }
        }
      }

      &:focus-within {
        border-color: $primary;
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(12);

    .searchtitle {
      color: $textprimary;
      font-family: $clashDisplay;
      font-size: size(16);
      font-weight: 600;
    }
  }
}
