@use "../global" as *;
@use "../partials" as *;

.settingsection {
  .settingdescription {
    .nav-tabs {
      border-color: $menudivider;
      margin-bottom: size(24);

      .nav-link {
        color: $textprimary;
        font-size: size(16);
        font-weight: 600;
        margin-bottom: 0;
        padding: size(16) size(24);
        border: none;
        @include border-single(bottom, solid, 4, transparent);

        &.active {
          color: $headingtext;
          border-color: $primary;
        }

        &:hover:not(.active) {
          color: $headingtext;
        }
      }
    }

    .form-label {
      color: $dropdowntext;
      font-size: size(14);
      font-weight: 500;
    }

    .form-control {
      @include border(solid, 1, $searchborder);
      @include radius(8);
      color: $headingtext;
      font-size: size(14);
      font-weight: 500;
      padding: size(12.5) size(16);

      &::placeholder {
        color: $textprimary;
        font-weight: 400;
      }

      &:focus {
        border-color: $primary;
      }
    }

    .formbox {
      max-width: size(320);
    }
  }

  .deleteacc {
    @include flex-column;
    gap: size(18);
    max-width: size(600);

    &-header {
      .title {
        color: $headingtext;
        font-size: size(16);
        font-weight: 500;
      }
    }

    &-body {
      @include flex-column;
      gap: size(32);

      .deleteinfo {
        @include flex-column;
        gap: size(24);

        .text {
          color: $textprimary;
          font-size: size(14);
        }
      }

      .btn-delete {
        color: $red;
        font-size: size(14);
        font-weight: 500;
        text-decoration: underline;

        @include hover {
          text-decoration: none;
        }
      }
    }
  }

  .notificationlist {
    @include flex-column;
    gap: size(32);

    .notificationsingle {
      @include flex-center-between;

      .leftinfo {
        @include flex-column;
        gap: size(10);
        width: calc(100% - size(64));

        .title {
          color: $dropdowntext;
          font-size: size(16);
          font-weight: 600;
        }

        .brows {
          @include flex-center-vert;
          gap: size(8);

          &-icon {
            @include square(22);
            @include flex-center;
            overflow: hidden;
          }

          &-text {
            color: $textprimary;
            font-size: size(14);
            font-weight: 500;
          }
        }

        .text {
          color: $textprimary;
          font-size: size(14);
          font-weight: 500;
          margin-top: size(5);
        }
      }

      .switchbox {
        width: size(64);
        @include flex-center;
      }
    }
  }

  .rightinfo {
    @include flex-column;
    gap: size(32);

    .descriptions {
      @include flex-column;
      gap: size(24);
    }
  }
}

.iti__country-list {
  max-width: size(304);
  overflow-x: hidden;
}
