@use '../global' as *;
@use '../partials' as *;

.settings {
  @include flex-column;
  gap: size(20);
  padding-bottom: size(80);

  &-header {
    @include flex-column;
    gap: size(16);

    .settings-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    .form-label {
      color: $dropdowntext;
      font-size: size(14);
      font-weight: 500;
    }

    .form-control {
      @include border(solid, 1, $searchborder);
      @include radius(8);
      color: $headingtext;
      font-size: size(14);
      font-weight: 500;
      padding: size(12.5) size(16);

      &::placeholder {
        color: $textprimary;
        font-weight: 400;
      }

      &:focus {
        border-color: $primary;
      }
    }
  }
}