@use '../global' as *;
@use '../partials' as *;

.subscribtion {
  background: $subscriptionbg;
  @include w100;
  @include flex-column;
  gap: size(16);
  padding: size(16) size(16) size(32);
  min-height: 100vh;
  // height: 100vh;

  &-header {
    @include flex-column;
    gap: size(16);
  }
  
  &-body {
    @include flex-column;
    gap: size(16);
  }

  &-footer {
    @include flex-center-column;

    .btn-subscribe {
      @include radius(8);
      font-family: $poppins;
      font-size: size(16);
      font-weight: 600;
      @include w100;
      height: size(56);
    }

    .btn-applycoupon {
      color: $labelcolor;
      font-family: $poppins;
      font-size: size(14);
      font-weight: 500;
      line-height: 3.75;
      letter-spacing: size(-0.28);
      text-decoration-line: underline;
      text-transform: capitalize;

      @include hover {
        color: $primary;
      }
    }
  }
}

.subscribtiontitle {
  color: $dropdowntext;
  // font-family: $balodapoppins;
  font-size: size(16);
  font-weight: 600;
  text-align: center;
}

.subscribtionnfo {
  background-color: $primarydark;
  @include radius(12);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include flex-column;
  gap: size(12);
  overflow: hidden;
  padding: size(12);

  &-header {
    @include flex-center;
    text-align: center;

    .infotitle {
      color: $white;
      font-family: $balodapoppins;
      font-size: size(18);
      font-weight: 700;
    }
  }

  &-body {
    .featurelist {
      @include flex-column;
      gap: size(5);
      padding-left: size(16);

      &-item {
        color: $white;
        font-family: $balodapoppins;
        font-size: size(13);
        font-weight: 500;
        line-height: normal;
      }
    }

    .conditiontext {
      color: $white;
      font-family: $balodapoppins;
      font-size: size(12);
      font-weight: 500;
      line-height: normal;
      text-align: right;
    }
  }
}

.subscribtionform {
  @include flex-center-vert;
  gap: size(16);
}

.subscribtioninput {
  .subscribinput {
    &:checked {
      ~ .subscriblabel {
        border-color: $primarydark;

        &::before {
          background: $primarydark;
          box-shadow: none;
        }

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .subscriblabel {
    width: size(89);
    height: size(36);
    background: $white;
    @include border(solid, 1.5, $inputborder);
    @include radius(4);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: size(8) size(16);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: size(16);
      @include translateY(-50%);
      z-index: 100;
      @include transitionsall;
    }

    &::before {
      @include square(16);
      background: $white;
      @include border(solid, 1.2, $menudivider);
      @include circle;
      box-shadow: 0 -0.1875rem .4375rem 0 rgba(20, 20, 43, 0.08) inset;
    }

    &::after {
      @include square(8);
      @include circle;
      left: size(20);
      background: $white;
      opacity: 0;
      visibility: hidden;
    }

    .labeltitle {
      color: $primarydark;
      display: block;
      font-family: $balodapoppins;
      font-size: size(16);
      font-weight: 500;
      line-height: 1.25;
      padding-left: size(24);

      &::selection {
        background: transparent;
        color: $primarydark;
      }
    }
  }
}

.subscribtionlist {
  @include flex-column;
  gap: size(16);
  // max-height: size(225);
  max-height: size(365);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: size(8);

  &::-webkit-scrollbar {
    background: transparent;
    width: size(8);
  }

  &::-webkit-scrollbar-thumb {
    background: $textplaceholder;
    @include radius(8);
  }
}

.cardsubscribtion {
  background: $white;
  @include border(solid, 1.5, transparent);
  @include radius(15);
  padding: size(12) size(16);
  @include h100;
  @include transitionsall;

  &-header {
    @include flex-center-between;

    .pricedurations {
      @include flex-center-vert;
      gap: size(3);

      .packageprice {
        color: $primary;
        font-family: $balodapoppins;
        font-size: size(24);
        font-weight: 700;
        letter-spacing: size(0.48);
      }

      .duration {
        color: $labelcolor;
        font-family: $balodapoppins;
        font-size: size(16);
        font-weight: 600;
        letter-spacing: size(-0.32);
      }
    }

    .promobadge {
      @include setBgColor($badgebg-2, $primarydark);
      @include radius(4);
      @include flex-center;
      font-family: $poppins;
      font-size: size(12);
      font-weight: 600;
      width: size(104);
      height: size(28);
      text-align: center;
      text-transform: capitalize;
    }
  }

  &-body {
    .text {
      color: $textprimary;
      font-family: $balodapoppins;
      font-size: size(13);
      font-weight: 400;
      letter-spacing: size(-0.26);
      line-height: 1.75;
    }
  }

  &:hover:not(.active) {
    border-color: $primary;
    box-shadow: 0 .625rem 3.75rem 0 rgba(43, 39, 41, 0.08)
  }

  &.active {
    border-color: $primary;
    box-shadow: 0 .625rem 3.75rem 0 rgba(43, 39, 41, 0.08)
  }
}

.couponapply.offcanvas.offcanvas-bottom {
  border-radius: size(15);
  height: size(220);
  min-height: auto;
  margin-inline: auto;

  .offcanvas-title {
    color: rgba(26, 32, 44, 0.92);
    font-family: $balodapoppins;
    font-size: size(20);
    font-weight: 600;
  }

  .couponform {
    @include flex-center-column;
    gap: size(20);
    @include w100;

    .couponfield {
      color: $black;
      @include border(solid, 1, $searchborder);
      @include radius(8);
      @include w100;
      height: size(56);
      padding: size(15);
      @include transitionsall;

      &:focus {
        border-color: $primary;
      }

      &::placeholder {
        color: $labeltext;
      }
    }

    .btn-subscribe {
      @include radius(8);
      font-family: $poppins;
      font-size: size(16);
      font-weight: 600;
      @include w100;
      height: size(56);
    }
  }
}

.subscribtionpayment {
  background: $subscriptionbg;
  @include w100;
  @include flex-column;
  padding: size(16) size(16) size(32);
  min-height: 100vh;
  // height: 100vh;

  &-header {
    background: $primarydark;
    @include w100;
    @include flex-center-column;
    text-align: center;
    padding: size(32) size(20) size(80);

    .feetitle {
      color: $white;
      font-family: $balodapoppins;
      font-size: size(24);
      font-weight: 700;
    }
    
    .priceduration {
      @include flex-center-vert;
      gap: size(3);

      .price {
        color: $textblue;
        font-family: $balodapoppins;
        font-size: size(24);
        font-weight: 700;
        letter-spacing: size(0.48);
        line-height: 1.75;
      }

      .duration {
        color: $white;
        font-family: $balodapoppins;
        font-size: size(16);
        font-weight: 600;
        letter-spacing: size(-0.32);
      }
    }

    .fromtodate {
      color: rgba($white, 0.8);
      font-family: $balodapoppins;
      font-size: size(14);
      font-weight: 400;
      letter-spacing: size(-0.28);
    }
  }

  &-body {
    @include w100;
    background: $white;
    @include double-radius(top, left, 16, top, right, 16);
    overflow: hidden;
    position: relative;
    z-index: 100;
    margin-top: size(-54);
  }
}

.paymentform {
  background: $white;
  padding: size(24) size(15) size(32);
  @include flex-column;
  gap: size(20);

  .inputbox {
    @include flex-column;
    gap: size(8);
    
    .inputlabel {
      color: $labeltext;
      font-family: $balodapoppins;
      font-size: size(14);
      font-weight: 600;
      line-height: normal;
    }

    .inputfield {
      @include border(solid, 1, $inputbg);
      @include radius(6);
      color: $black;
      font-family: $balodapoppins;
      font-size: size(14);
      font-weight: 400;
      line-height: 1.1;
      @include w100;
      height: size(48);
      padding: size(15);
      @include transitionsall;

      &::placeholder {
        color: $textplaceholder;
      }

      &:focus {
        border-color: $primary;
      }
    }
  }

  .paymentbox {
    @include flex-column;
    gap: size(8);

    .inputlabel {
      color: $labeltext;
      font-family: $balodapoppins;
      font-size: size(14);
      font-weight: 500;
      line-height: normal;
    }

    .selectpayments {
      @include flex-column;
      gap: size(20);

      .mypayment {
        .paymentinput {
          &:checked {
            ~ .paymentlabel {
              border-color: $primarydark;
              box-shadow: 0 .25rem .625rem 0 rgba(31, 37, 89, 0.07), 0 .125rem .6875rem 0 rgba(69, 65, 164, 0.06);
            }
          }
        }

        .paymentlabel {
          @include border(solid, 1.5, $inputbg);
          @include radius(6);
          @include w100;
          height: size(60);
          @include flex-center-vert;
          font-family: $balodapoppins;
          padding: size(15);
          cursor: pointer;
          @include transitionsall;
        }
      }

      .checkterms {
        margin-top: size(-6);

        .checkinput {
          &:checked {
            ~ .checklabel {
              &::before {
                border-color: $primary;
                background: $primary;
              }

              &::after {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }

        .checklabel {
          cursor: pointer;
          color: $linkcolor;
          font-family: $poppins;
          font-size: size(12);
          font-weight: 400;
          line-height: 1.3;
          position: relative;
          overflow: hidden;
          padding-left: size(32);

          &::selection {
            background: transparent;
            color: $linkcolor;
          }

          .link {
            color: $primary;
            font-family: $poppins;
            font-size: size(12);
            font-weight: 600;
            line-height: 1.3;
            @include transitionsall;

            @include hover {
              color: $primarydark;
            }

            &::selection {
              background: transparent;
              color: $primary;
            }
          }

          &::before,
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            @include translateY(-50%);
            @include transitionsall;
          }

          &::before {
            @include square(20);
            @include border(solid, 1, $menudivider);
            background: $white;
          }

          &::after {
            width: size(10);
            height: size(5);
            @include border(solid, 1.5, $white);
            border-top: 0;
            left: size(4.5);
            border-right: 0;
            @include transform(translateY(-80%) rotate(-45deg));
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }

  .btn-subscribe {
    @include radius(8);
    font-family: $poppins;
    font-size: size(16);
    font-weight: 600;
    @include w100;
    height: size(56);
  }
}

.paymenttext {
  color: $labelcol;
  font-family: $balodapoppins;
  font-weight: 600;
  display: inline-block;
}

.mypayments {
  height: 100vh;
  position: relative;
  background: $subscriptionbg;
  @include w100;
  @include flex-column;
  gap: size(16);
  padding: size(16) size(16) size(0);

  .paymentsinfo {
    position: relative;
    padding: size(32) size(24);
    background: $white;
    @include border(solid, 1, $infoborder);
    @include radius(10);
    @include flex-column;
    gap: size(24);
    z-index: 200;
    margin-bottom: size(120);

    &-header {
      @include flex-center;

      .faildicon {
        @include flex-center;
        width: size(150);
        height: size(92);
        overflow: hidden;
      }

      .successicon {
        @include flex-center;
        width: size(104);
        height: size(92);
        overflow: hidden;
      }
    }

    &-body {
      @include flex-center-column;
      text-align: center;
      position: relative;
      z-index: 100;

      .title {
        color: $labelcolor;
        font-family: $poppins;
        font-size: size(24);
        font-weight: 700;
        line-height: 1.5;
      }

      .text {
        color: $dropdowntext;
        font-family: $poppins;
        font-size: size(14);
        font-weight: 400;
        line-height: 1.3;
      }
    }

    &-footer {
      position: relative;
      z-index: 100;
    }

    .bottomicon {
      position: absolute;
      bottom: size(20);
      left: 50%;
      @include translateX(-50%);
    }
  }

  .btn-subscribe {
    @include radius(8);
    font-family: $poppins;
    font-size: size(16);
    font-weight: 600;
    @include w100;
    height: size(56);
  }

  .bottomthumb {
    position: absolute;
    bottom: 0;
    left: 0;
    @include w100;
    height: size(289);
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }
}

.btn-myback {
  @include square(24);
  @include flex-center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  @include translateY(-50%);

  @include hover {
    svg {
      path {
        fill: $primary;
      }
    }
  }
}