@use "../global" as *;
@use "../partials" as *;

.subscribedchannel {
  @include flex-column;
  gap: size(20);
  padding: size(0) size(14) size(64);

  @include breakpoint(mobile768) {
    padding: size(0) size(24) size(80);
  }

  @include breakpoint(tab992) {
    padding: size(0) size(0) size(0);
  }

  &-header {
    @include flex-column;
    gap: size(16);

    .subscribedchannel-title {
      font-size: size(20);
      font-weight: 600;
    }
  }

  &-body {
    .emptysubscribed {
      @include flex-center-column;
      gap: size(24);
      max-width: size(410);
      margin-inline: auto;
      padding: size(44) size(0) size(64);

      .subscribedicon {
        @include square(150);
        @include flex-column;
        overflow: hidden;
      }

      .info {
        @include flex-center-column;
        text-align: center;

        .text {
          font-weight: 500;
        }
      }
    }

    .subscribedlist {
      @include flex-column;
      gap: size(48);
    }

    .rightinfo {
      @include flex-column;
      gap: size(32);

      .descriptions {
        @include flex-column;
        gap: size(24);
      }
    }
  }
}

.mobilesubscribelist {
  @include flex-column;
  gap: size(8);
  @include w100;

  .subscribebox {
    background: $white;
    @include flex-center-between;
    padding: size(8);

    &-left {
      @include flex-center-vert;
      gap: size(8);

      .subscribthumb {
        @include square(40);
        @include circle;
        @include flex-center;
        overflow: hidden;
      }

      .info {
        @include flex-column;

        .channelname {
          color: $textdark;
          font-size: size(14);
          font-weight: 500;
        }

        .subscriber {
          color: $textprimary;
          font-size: size(11);
          font-weight: 400;
          letter-spacing: size(-0.22);
        }
      }
    }
  }
}

.mobilesubscribedlist {
  @include flex-column;
  gap: size(8);
  @include w100;

  .mobilesubscribed {
    background: $white;
    @include flex-center-between;
    padding: size(8);

    .leftcontent {
      @include flex-center-vert;
      gap: size(8);
      width: calc(100% - size(96));

      .thumb {
        @include square(40);
        @include circle;
        @include flex-center;
        overflow: hidden;
      }

      .info {
        @include flex-column;
        width: calc(100% - size(48));

        .channelname {
          color: $textdark;
          font-size: size(14);
          font-weight: 500;
          @include text-overflow;
        }

        .subscriber {
          color: $textprimary;
          font-size: size(11);
          font-weight: 400;
          letter-spacing: size(-0.22);
        }
      }
    }

    .rightcontent {
      @include flex-end;
      width: size(96);
    }
  }
}
