@use "../global" as *;
@use "../partials" as *;

.videoplay {
  padding-bottom: size(32);
  
  @include breakpoint(tab992) {
    padding-bottom: size(96);
  }

  &-rightcontent {
    @include flex-column;
    gap: size(20);

    .searchtags {
      @include flex-center-vert;
      gap: size(8);
      flex-wrap: wrap;
    }

    .videoslist {
      @include flex-column;
      gap: size(10);

      .cardvid {
        .cardvid-details {
          @include breakpoint(mobile576) {
            width: calc(100% - size(172));
            padding: size(4) size(8);
          }
        }
      }
    }
  }

  &-info {
    @include flex-column;
    gap: size(32);
  }

  .videoheader {
    @include flex-column;
    gap: size(24);

    .videobox {
      @include radius(8);
      overflow: hidden;
    }

    .details {
      @include flex-column;
      gap: size(20);
      padding-inline: size(14);

      @include breakpoint(mobile768) {
        padding-inline: size(24);
      }

      @include breakpoint(tab992) {
        padding-inline: size(0);
      }

      .videotitle {
        font-size: size(20);
        font-weight: 500;
      }

      .info {
        @include flex-column;
        gap: size(20);

        .text {
          color: $dropdowntext;

          .seemore {
            color: $textblue;
            font-weight: 500;

            @include hover {
              color: $primarydark;
            }
          }
        }

        .time {
          color: $headingtext;
          font-weight: 500;
        }
      }
    }
  }

  .leftinfo {
    @include flex;
    gap: size(20);
    padding-inline: size(14);

    @include breakpoint(mobile768) {
      padding-inline: size(24);
    }

    @include breakpoint(tab992) {
      padding-inline: size(0);
    }

    .channeldetail {
      @include breakpoint(desktop1600) {
        display: flex;
      }

      @include breakpoint(desktop1800) {
        gap: size(16);
      }
    }
  }

  .comments {
    @include flex-column;
    gap: size(32);
    padding-inline: size(14);

    @include breakpoint(mobile768) {
      padding-inline: size(24);
    }

    @include breakpoint(tab992) {
      padding-inline: size(0);
    }

    &-header {
      .commenttitle {
        font-size: size(16);
        font-weight: 500;
      }
    }

    &-body {
      @include flex-column;
      gap: size(32);

      .commentbox {
        @include flex-center-vert;
        gap: size(12);
        @include w100;

        .commenter {
          @include square(40);
          @include flex-center;
          @include circle;
          overflow: hidden;
        }

        .commentinput {
          width: calc(100% - size(52));

          .commentfield {
            @include setBgColor($white, $headingtext);
            @include border-single(bottom, solid, 1, $menudivider);
            font-size: size(14);
            padding: size(6) size(12);
            @include w100;
            @include transitionsall;

            &::placeholder {
              color: $commentplaceholder;
            }

            &:focus {
              border-color: $primary;
            }
          }
        }
      }

      .commenterbox {
        @include border-single(bottom, solid, 1, $menudivider);
        font-size: size(14);
        @include flex;
        gap: size(10);
        padding-bottom: size(24);

        &-left {
          width: calc(100% - size(96));
          @include flex;
          gap: size(16);

          .replyer {
            @include square(40);
            @include circle;
            @include flex-center;
            overflow: hidden;
          }

          .commenterdetails {
            width: calc(100% - size(56));
            @include flex-column;
            gap: size(10);

            .topinfo {
              @include flex-column;
              gap: size(10);

              .user {
                @include flex-center-vert;
                gap: size(16);

                .username {
                  color: $headingtext;
                  font-size: size(14);
                  font-weight: 500;
                }

                .time {
                  color: $textprimary;
                  font-size: size(12);
                }
              }

              .textcomment {
                color: $textprimary;
                font-size: size(14);
              }
            }

            .commentlist {
              @include flex-center-vert;
              gap: size(16);

              .btnlike {
                @include flex-center-vert;
                gap: size(4);

                .icon {
                  @include square(14);
                  @include flex-center;
                }

                .text {
                  color: $textprimary;
                  font-size: size(14);
                }
              }

              .btn-replies {
                color: $primary;
                font-size: size(14);

                @include hover {
                  color: $primarydark;
                }
              }
            }
          }
        }

        &-right {
          @include square(86);
          position: relative;
          @include flex-end;

          .btn-dropdown {
            @include square(32);
            @include circle;
            padding: size(4);
            position: relative;
          }

          .replydropdown {
            position: absolute;
            top: 40%;
            right: size(0);
            padding-top: size(8);
            display: none;
            @extend %animation;
            @extend %slideUpIn;

            .replylist {
              background: $white;
              @include border(solid, 1, $menudivider);
              @include radius(10);
              box-shadow: $dropdownshadow;
              @include list-vertical;
              overflow: hidden;

              &-link {
                background: $white;
                @include flex-center-vert;
                gap: size(10);
                padding: size(8) size(16);
                @include w100;
                @include transitionsbackground;

                .icon {
                  @include square(16);
                  @include flex-center;
                  overflow: hidden;
                }

                .text {
                  color: $dropdowntext;
                  font-size: size(15);
                }

                @include hover {
                  background: $linkhoverbg;
                }
              }
            }
          }

          @include hover {
            .btn-dropdown {
              background: $linkhoverbg;
            }

            .replydropdown {
              display: block;
            }
          }
        }
      }

      .myreply {
        @include flex-column;
        gap: size(24);
      }

      .myreplybox {
        font-size: size(14);
        @include flex;
        gap: size(10);

        &-left {
          width: calc(100% - size(42));
          @include flex;
          gap: size(16);

          .replyer {
            @include square(40);
            @include circle;
            @include flex-center;
            overflow: hidden;
          }

          .myreplydetails {
            width: calc(100% - size(56));
            @include flex-column;
            gap: size(10);

            .topinfo {
              @include flex-column;
              gap: size(10);

              .user {
                @include flex-center-vert;
                gap: size(16);

                .username {
                  color: $headingtext;
                  font-size: size(14);
                  font-weight: 500;
                }

                .time {
                  color: $textprimary;
                  font-size: size(12);
                }
              }

              .textcomment {
                color: $textprimary;
                font-size: size(14);
              }
            }

            .commentlist {
              @include flex-center-vert;
              gap: size(16);

              .btnlike {
                @include flex-center-vert;
                gap: size(4);

                .icon {
                  @include square(14);
                  @include flex-center;
                }

                .text {
                  color: $textprimary;
                  font-size: size(14);
                }
              }

              .btn-replies {
                color: $primary;
                font-size: size(14);

                @include hover {
                  color: $primarydark;
                }
              }
            }
          }
        }

        &-right {
          @include square(32);
          position: relative;

          .btn-dropdown {
            @include square(24);
            @include circle;
          }

          @include hover {
            .btn-dropdown {
              background: $linkhoverbg;
            }

            .replydropdown {
              display: block;
            }
          }
        }
      }
    }
  }
}

.replydropdown {
  position: absolute;
  top: 100%;
  right: size(0);
  padding-top: size(8);
  display: none;
  @extend %animation;
  @extend %slideUpIn;
}

.replylist {
  background: $white;
  @include border(solid, 1, $menudivider);
  @include radius(10);
  box-shadow: $dropdownshadow;
  @include list-vertical;
  overflow: hidden;

  &-link {
    background: $white;
    @include flex-center-vert;
    gap: size(10);
    padding: size(8) size(16);
    @include w100;
    @include transitionsbackground;

    .icon {
      @include square(16);
      @include flex-center;
      overflow: hidden;
    }

    .text {
      color: $dropdowntext;
      font-size: size(15);
    }

    @include hover {
      background: $linkhoverbg;
    }
  }
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
}

.dropdownlist {
  @include list-vertical;
  gap: size(6);

  &-link {
    @include setBgColor($white, $labeltext);
    @include flex-center-vert;
    font-size: size(14);
    font-weight: 500;
    @include w100;
    padding: size(10);
    @include transitionsall;

    @include hover {
      @include setBgColor($iconbg, $labeltext);
    }
  }
}

.reportlist {
  @include flex-column;
  gap: size(12);
  margin-bottom: size(32);
}

.btn-mycancel,
.btn-myreport {
  @include flex-center;
  padding: size(6) size(12);
  @include radius(48);
  font-size: size(15);
  font-weight: 500;
  text-align: center;
}

.btn-mycancel {
  @include setBgColor($white, $dropdowntext);

  @include hover {
    @include setBgColor(rgba($black, 0.15), $dropdowntext);
  }
}

.btn-myreport {
  @include setBgColor($white, $primary);

  @include hover {
    @include setBgColor(lighten($primary, 30%), $primary);
  }
}

.mobilevideoplay {
  margin-top: size(-20);
  @include flex-column;
  gap: size(24);

  &-header {
    @include flex-column;
    gap: size(16);

    .videobox {
      img {
        @include w100;
      }
    }

    .reactions {
      @include flex-center-vert;
      gap: size(4);
      padding-inline: size(14);

      @include breakpoint(mobile414) {
        gap: size(8);
      }

      
      .reaction-1 {
        width: size(125);
        
        @include breakpoint(mobile414) {
          width: auto;
        }
      }
      
      .reaction-2,
      .reaction-3,
      .reaction-4 {
        width: calc((100% - size(125)) / 3);

        @include breakpoint(mobile414) {
          width: auto;
        }
      }

      .btn-reaction {
        @include breakpoint(mobile414) {
          width: calc(100% / 4);
        }
      }
    }

    .offcanvas {
      min-height: size(280);
      height: size(280);
      max-height: size(280);
      @include double-radius(top, left, 16, top, right, 16);
      overflow: hidden;
      padding-top: size(14);

      &-header {
        @include flex-center;
        overflow: hidden;
        padding: size(14) size(0) size(24);

        .icon {
          width: size(41);
          height: size(4);
          @include flex-center;
          overflow: hidden;
        }
      }

      &-body {
        .dropdownlist {
          @include list-vertical;
          overflow: hidden;

          &-link {
            @include setBgColor($white, $labeltext);
            @include flex-center-vert;
            gap: size(5);
            @include w100;
            padding: size(10) size(30);
            @include transitionsall;

            .droplinkicon {
              @include square(24);
              @include flex-center;
              overflow: hidden;
            }

            .droplinktext {
              color: $textdark;
              font-weight: 500;
            }

            @include hover {
              background: $linkhoverbg;
            }
          }
        }
      }
    }

    .subscriberbox {
      @include flex-center-between;
      padding: size(0) size(14) size(16);
      @include border-single(bottom, solid, 1, $searchborder);

      .mychannel {
        @include flex-center-vert;
        gap: size(8);

        .channelthumb {
          @include square(40);
          @include circle;
          @include flex-center;
          overflow: hidden;

          img {
            @include wh100;
          }
        }

        .details {
          @include flex-column;
          gap: size(4);

          .title {
            color: $textdark;
            font-size: size(14);
            font-weight: 500;
          }

          .text {
            color: $textprimary;
            font-size: size(11);
            font-weight: 400;
            letter-spacing: size(-0.22);
          }
        }
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(24);
    padding: size(0);

    .mobilecommentbox {
      @include flex-column;
      gap: size(16);
      padding-inline: size(14);

      .commentbox {
        @include flex-column;
        gap: size(8);

        .commentcount {
          color: $textprimary;
          font-size: size(12);
          font-weight: 400;
        }
      }

      .commentdetail {
        @include flex;
        gap: size(8);

        .leftinfo {
          width: calc(100% - size(32));
          @include flex;
          gap: size(8);

          .userthumb {
            @include square(32);
            @include circle;
            @include flex-center;
            overflow: hidden;

            img {
              @include wh100;
            }
          }

          .detail {
            width: calc(100% - size(40));
            @include flex-column;
            gap: size(8);

            .username {
              color: $textprimary;
              font-size: size(12);
              font-weight: 400;
              letter-spacing: size(-0.24);
            }

            .date {
              color: $textprimary;
              font-size: size(10);
              font-weight: 400;
            }

            .commenttext {
              color: $dropdowntext;
              font-size: size(12);
              font-weight: 400;
              letter-spacing: size(-0.24);
            }

            .topdetail {
              @include flex-column;
              gap: size(5);
            }

            .bottomdetail {
              @include flex-center-vert;
              gap: size(28);

              .leftinfo {
                @include flex-center-vert;
                gap: size(12);
                max-width: size(64);
              }

              .rightinfo {
                @include flex-center-vert;
              }
            }
          }
        }

        .commentdropdown {
          @include square(24);
          position: relative;

          .btn-dropdown {
            @include square(24);
            @include flex-center;
            overflow: hidden;
            padding-top: size(8);
          }

          .dropdownmenu {
            position: absolute;
            top: 100%;
            right: 0;
            background: $white;
            box-sizing: $dropmenu;
            padding: size(12);
            min-width: size(136);
            display: none;
            @extend %animation;
            @extend %slideUpIn;
            z-index: 500;
          }

          @include hover {
            .dropdownmenu {
              display: block;
            }
          }
        }
      }

      .offcanvas {
        @include double-radius(top, left, 16, top, right, 16);
        overflow: hidden;
        padding-top: size(4);
        min-height: size(480);
        max-height: size(480);

        &-header {
          .commenttitle {
            color: $linktext;
            font-size: size(16);
            font-weight: 600;
          }

          .btn-close {
            i {
              font-size: size(16);
            }
          }
        }

        &-body {
          .mymobcomment {
            @include flex-column;
            gap: size(24);
          }
        }
      }
    }

    .relatedvideos {
      @include flex-column;
      gap: size(16);
      padding-bottom: size(104);

      &-header {
        padding-inline: size(14);

        @include breakpoint(tab992) {
          padding-inline: size(0);
        }
        
        .title {
          color: $textdark;
          // font-family: $clashDisplay;
          font-size: size(20);
          font-weight: 600;
        }
      }

      &-body {
        @include flex-column;
        gap: size(10);
      }
    }
    
    .mycommentbox {
      padding-inline: size(14);
    }
      
    .mycommentlist {
      @include flex-column;
      gap: size(16);
      padding-bottom: size(24);

      .commentdetail {
        @include border-single(bottom, solid, 1, $searchborder);
        padding: size(0) size(14) size(16);
      }
    }

    .topiconmob {
      width: size(41);
      height: size(4);
      @include flex-center;
      overflow: hidden;
    }
  }
}

.mobilevideoplay {
  &-body {
    .relatedvideos {
      &-body {
        @include breakpoint(mobile576) {
          flex-direction: row;
          flex-wrap: wrap;
          padding-inline: size(14);
        }

        .cardvideo {
          @include breakpoint(mobile576) {
            width: calc((100% / 2) - size(10));
          }
  
          @include breakpoint(tab992) {
            @include w100;
          }
        }
      }
    }
  }
}

.commentform {
  background: $white;
  @include border(solid, 1, $searchborder);
  @include radius(6);
  @include flex-center-vert;
  gap: size(16);
  padding: size(12) size(9) size(12) size(16);
  @include transitionsall;

  .commentfield {
    color: $textdark;
    width: calc(100% - size(36));
    font-size: size(12);
    font-weight: 500;

    &::placeholder {
      color: $switchbg;
    }
  }

  .btn-submit {
    @include square(20);
    @include flex-center;
    overflow: hidden;
    padding: size(2);

    @include hover {
      svg {
        path {
          fill: $primary;
        }
      }
    }
  }

  &:focus-within {
    border-color: $primary;
  }
}

.mobcommentbuttoninfo {
  background: $white;
  @include border(solid, 1, $searchborder);
  @include radius(6);
  @include flex-center-vert;
  gap: size(16);
  padding: size(12) size(9) size(12) size(16);
  @include transitionsall;

  .commentfield {
    color: $textdark;
    width: calc(100% - size(36));
    font-size: size(12);
    font-weight: 500;

    &::placeholder {
      color: $switchbg;
    }
  }

  .btn-submit {
    @include square(20);
    @include flex-center;
    overflow: hidden;
    padding: size(2);

    @include hover {
      svg {
        path {
          fill: $primary;
        }
      }
    }
  }

  &:focus-within {
    border-color: $primary;
  }
}

.notifybox {
  @include flex-column;
  gap: size(16);
  padding-inline: size(14);

  &-content {
    @include flex-column;
    gap: size(16);

    @include breakpoint(mobile768) {
      flex-direction: row;

      .notifybox-header,
      .notifybox-body {
        width: 50%;
      }
    }
  }

  .offcanvas {
    min-height: size(280);
    height: size(280);
    max-height: size(280);
    @include double-radius(top, left, 16, top, right, 16);
    overflow: hidden;
    padding-top: size(14);

    &-header {
      @include flex-center;
      overflow: hidden;
      padding: size(14) size(0) size(24);

      .icon {
        width: size(41);
        height: size(4);
        @include flex-center;
        overflow: hidden;
      }
    }

    &-body {
      padding-bottom: size(48);

      .notifytitle {
        color: $textdark;
        // font-family: $clashDisplay;
        font-size: size(20);
        font-weight: 500;
        text-align: center;
      }

      .selecttime {
        @include flex-column;
        gap: size(12);

        &-header {
          .selecttitle {
            color: $textprimary;
            font-size: size(12);
            font-weight: 500;
          }
        }

        &-body {
          @include flex-center-vert;
          gap: size(8);
          flex-wrap: wrap;
        }
      }
    }
  }
}

.timebox {
  @include flex-center-vert;
  gap: size(12);

  .timethumb {
    background: $iconbg;
    @include square(36);
    @include circle;
    @include flex-center;
    overflow: hidden;
    padding: size(10);
  }

  .detail {
    width: calc(100% - size(48));
    @include flex-column;
    gap: size(2);

    .subtitle {
      color: $textprimary;
      font-size: size(10);
      font-weight: 500;
    }

    .title {
      color: $dropdowntext;
      font-size: size(16);
      font-weight: 500;
    }
  }
}

.remainingbox {
  background: $white;
  @include radius(10);
  @include flex-center-column;
  gap: size(4);
  text-align: center;

  .title {
    color: $dropdowntext;
    font-size: size(18);
    font-weight: 700;
  }

  .text {
    color: $timetext;
    font-size: size(13);
    font-weight: 500;
  }
}

.customradio {
  .radioinput {
    &:checked ~ .radiolabel {
      @include setBgColor($labelbg, $primary);
      border-color: $labelbg;
      font-weight: 700;
    }
  }

  .radiolabel {
    @include setBgColor($white, $labelcolor);
    @include border(solid, 1, $searchborder);
    @include radius(4);
    @include flex-center;
    font-size: size(12);
    font-weight: 500;
    letter-spacing: size(-0.24);
    padding: size(8) size(12);
    text-align: center;

    @include breakpoint(mobile576) {
      padding: size(12) size(14);
    }
  }
}

.desktopsubscribe {
  @include flex-column;
  gap: size(12);

  @include breakpoint(desktop1920) {
    flex-direction: row;
    justify-content: space-between;
    gap: size(0);
    padding-top: size(14);
    padding-bottom: size(14);
  }

  &-left {
    @include flex-center-vert;
    gap: size(40);

    .subscribinfo {
      @include flex-center-vert;
      gap: size(20);

      .thumb {
        @include square(72);
        @include circle;
        @include flex-center;
        overflow: hidden;
      }

      .info {
        width: calc(100% - size(92));

        .channelname {
          color: $headingtext;
          font-size: size(18);
          font-weight: 600;
        }

        .text {
          color: $textprimary;
          font-size: size(14);
          font-weight: 500;
        }
      }
    }
  }

  &-right {
    @include flex-center-vert;
    gap: size(10);
    padding-left: size(92);

    @include breakpoint(desktop1920) {
      padding-left: size(0);
    }

    .moreinfo {
      position: relative;

      .replydropdown {
        @include radius(10);
        position: absolute;
        top: 100%;
        right: size(0);
        padding-top: size(8);
        display: none;
        @extend %animation;
        @extend %slideUpIn;
        min-width: size(180);
        z-index: 100;
        overflow: hidden;

        .dropdownlist {
          background: $white;
          @include border(solid, 1, $menudivider);
          @include radius(10);
          box-shadow: $dropdownshadow;
          @include list-vertical;
          overflow: hidden;

          &-link {
            @include setBgColor($white, $labeltext);
            @include flex-center-vert;
            gap: size(5);
            @include w100;
            padding: size(10);
            @include transitionsall;

            .droplinkicon {
              @include square(20);
              @include flex-center;
              overflow: hidden;
            }

            .droplinktext {
              color: inherit;
              font-size: size(12);
              font-weight: 500;
            }

            @include hover {
              @include setBgColor($iconbg, $labeltext);
            }
          }
        }
      }

      @include hover {
        .replydropdown {
          display: block;
        }
      }
    }
  }
}

.videoinfo {
  @include flex-column;
  gap: size(8);
  padding-inline: size(14);

  .accordion {
    background: transparent;
    border: 0;
    @include radius(0);

    &-item {
      background: transparent;
      border: 0;
      @include radius(0);

      &:first-of-type,
      &:last-of-type {
        @include radius(0);

        .accordion-button {
          border: 0;
          @include radius(0);
        }
      }
    }

    &-button {
      color: $textdark;
      font-size: size(15);
      font-weight: 600;

      &:not(.collapsed) {
        box-shadow: none;
        background: transparent;
      }
    }

    &-body {
      padding: size(10);
      @include flex-column;
      gap: size(16);
      overflow: hidden;

      p {
        color: $textdark;
        font-size: size(12);
        font-weight: 400;
      }
    }
  }

  .watchertime {
    @include flex-center-vert;
    gap: size(10);

    span {
      color: $textprimary;
      font-size: size(12);
      font-weight: 400;
    }
  }
}