@use '../../global' as *;
@use '../../partials' as *;

%border {
  @include border(solid, 4, transparent);
  border-radius: 50%;
}

.preloader {
  background: $linkhoverbg;
  @include flex-center;
  position: fixed;
  inset: size(0);
  @include w100;
  min-height: 100vh;
  overflow: hidden;
  z-index: 9999;

  .loader {
    @include flex-center;
    @include square(300);

    .reverse-spinner {
      position: relative;
      @include square(100);
      @extend %border;
      border-top-color: $primary;
      border-left-color: $primary;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;

      &::before {
        position: absolute;
        top: size(15);
        left: size(15);
        right: size(15);
        bottom: size(15);
        content: "";
        @extend %border;
        border-top-color: $primarydark;
        border-left-color: $primarydark;
        -webkit-animation: spinBack 1s linear infinite;
        animation: spinBack 1s linear infinite;
      }
    }
  }
}

@-webkit-keyframes rotate {
  100% {
    @include rotate(360);
  }
}

@keyframes rotate {
  100% {
    @include rotate(360);
  }
}

@-webkit-keyframes spin {
  from {
    @include rotate(0);
  }

  to {
    @include rotate(360);
  }
}

@keyframes spin {
  from {
    @include rotate(0);
  }

  to {
    @include rotate(360);
  }
}

@-webkit-keyframes spinBack {
  from {
    @include rotate(0);
  }

  to {
    @include rotate(-720);
  }
}

@keyframes spinBack {
  from {
    @include rotate(0);
  }

  to {
    @include rotate(-720);
  }
}