@use "../../global" as *;
@use "../../partials" as *;

.livebadge {
  background: $badgebg;
  @include radius(39);
  @include flex-center;
  gap: size(8);
  padding: size(5) size(8);
  max-width: size(64);

  .icon {
    @include square(8);
    @include circle;
    @include flex-center;
    overflow: hidden;
  }

  .text {
    color: $redcolor;
    font-size: size(12);
    font-weight: 500;
  }
}
