@use "../../global" as *;
@use "../../partials" as *;

.main {
  @include flex-column;
  @include w100;
  padding: size(0);
  padding-bottom: size(80);

  @include breakpoint(tab992) {
    width: calc(100% - size(244));
    margin-left: auto;
    padding: size(0) size(40) size(20);
  }
}

.maincollapsed {
  width: calc(100% - size(72));
}
