@use "../../global" as *;
@use "../../partials" as *;

.header {
  background: $white;
  padding-inline: size(14);
  height: size(76);

  @include breakpoint(tab992) {
    width: calc(100% - size(244));
    margin-left: auto;
    padding-inline: size(40);
    height: size(80);
  }

  &-nav {
    @include border-single(bottom, solid, 1, $menudivider);
    padding: size(17) 0;
    @include flex-center-between;

    .searchreminder {
      @include flex-center-vert;
      gap: size(20);

      .searchform {
        @include breakpoint(desktop1200) {
          min-width: size(460);
        }

        @include breakpoint(desktop1400) {
          min-width: size(560);
        }

        @include breakpoint(desktop1600) {
          min-width: size(740);
        }
      }
    }

    .reminder {
      @include flex-center-vert;
      gap: size(12);

      .prayer {
        @include flex-center-vert;
        gap: size(12);

        .prayericon {
          background: $linkhoverbg;
          @include square(32);
          @include circle;
          @include flex-center;
          overflow: hidden;
          padding: size(8);

          @include breakpoint(desktop1400) {
            @include square(44);
            padding: size(10);
          }
        }

        .details {
          @include flex-column;

          .waqtname {
            font-size: size(20);
            font-weight: 600;
          }

          .waqtdurations {
            color: $textprimary;
            font-size: size(12);
            font-weight: 500;
          }
        }
      }

      .remaining {
        @include flex-column;
        gap: size(4);

        &-title,
        &-text {
          color: $textprimary;
          font-size: size(12);
          font-weight: 500;
        }

        .progress {
          background: $progressbg;
          // width: size(140);
          height: size(5);
          @include radius(20);

          &-bar {
            background: $primary;
            @include radius(20);
          }
        }
      }
    }

    .logo {
      width: size(151);
      height: size(39);
      @include flex-center;
      margin-left: size(20);
      overflow: hidden;

      @include breakpoint(mobile768) {
        margin-left: 0;
      }
    }
  }

  &.headercollapsed {
    width: calc(100% - size(72));
  }
}

.appmenu {
  background: $white;
  @include border-single(top, solid, 1, $searchborder);
  position: fixed;
  bottom: 0;
  left: 0;
  @include w100;
  height: size(74);
  padding: size(4) size(10) size(16);
  z-index: 200;
}

.applist {
  @include list-horizontal;

  &-item {
    width: calc(100% / 5);
  }

  &-link {
    @include flex-center-column;
    text-align: center;

    .icon {
      @include square(40);
      @include flex-center;
      overflow: hidden;
      padding: size(10);
    }

    .text {
      color: $textprimary;
      font-size: size(13);
      font-style: normal;
      font-weight: 400;
    }

    &:hover:not(.active) {
      .icon {
        svg {
          path {
            fill: $primary;
          }
        }
      }

      .text {
        color: $primary;
      }
    }

    &.active {
      .icon {
        svg {
          path {
            fill: $primary;
          }
        }
      }

      .text {
        color: $primary;
      }
    }
  }
}
